Agente Vendedor WA_JPizza.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "JSON Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "WhatsApp Business Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Business Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Business Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "WhatsApp Business Audio": {
      "main": [
        [
          {
            "node": "HTTP Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Download Audio": {
      "main": [
        [
          {
            "node": "Convert Audio to Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Video": {
      "main": [
        [
          {
            "node": "HTTP Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Download Video": {
      "main": [
        [
          {
            "node": "Convert Video to Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Video to Text": {
      "main": [
        [
          {
            "node": "format Response 1.2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Audio to Text": {
      "main": [
        [
          {
            "node": "format Response 1.1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Image": {
      "main": [
        [
          {
            "node": "HTTP Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Download Image": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "format Response 1.1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format Response 1.2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get User's Message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push messages Buffer": {
      "main": [
        [
          {
            "node": "Get Messages Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Messages Buffer": {
      "main": [
        [
          {
            "node": "Switch Espera",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DatosNormalizados": {
      "main": [
        [
          {
            "node": "Push messages Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Messages Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Espera": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Messages Buffer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Parse": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Get User's Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp_Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Messages Buffer": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool_pedidos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get TG Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DatosNormalizados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get TG Message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-19T14:32:32.221Z",
  "description": null,
  "id": "cjfIq6yUgUgAhACM",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Agente Vendedor WA_JPizza",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=The user sent the following message\nmessage_date: {{ $json.message_timestamp }}\nmessage_name: {{ $json.contact_name }}\nmessage_type: {{ $json.message_type }}\nmessage_from: {{ $json.message_from }}\nmessage_text or description:\n```{{ $json.message_text }}```\n{{ $json.message_caption ? `message caption: ${$json.message_caption.trim()}` : '' }}\n\nif ( $('Get TG Message').isExecuted) { it means Junior is sending an order update trought Telegram Trigger so have a chat with the customer \"message_from\" , and send it the message_state.\nSend the order's update using the tool Tool_pedidos\nthis state and id message are just only for Tool_pedidos\nmessage_state: {{ $json.message_state ? `${$json.message_state}` : 'processing'}}\nmessage_id: {{ $json.message_id }} }",
        "options": {
          "systemMessage": "=if ( $('Get TG Message').isExecuted) { it means Junior is sending an order update trought Telegram Trigger so have a chat with the customer \"message_from\" , and send it the message_state.\nSend the order's update using the tool Tool_pedidos\nthis state and id message are just only for Tool_pedidos\nmessage_state: {{ $json.message_state ? `${$json.message_state}` : 'processing'}}\nmessage_id: {{ $json.message_id }} }\n\nYou are Pizzaiolo, a friendly, efficient, bilingual (English and Spanish) WhatsApp assistant for JUNIOR'S Artisan Pizza. Your primary role is to handle customer orders and inquiries. Always interact with the customer whose contact name is provided as contact_name.\nRestaurant Information (JUNIOR'S)\n\n    Specialty: Artisan Pizza\n    Pizza Size: All pizzas are a single 14-inch large, crispy crust (cut into 8 slices). Emphasize this when asked about sizes.\n    Operating Hours: Monday to Saturday, usually opening around 3:00–4:30 PM, closing around 8:00 PM (exact times may vary). Closed on Sundays. If asked about today's hours: \"Junior's usually opens around 4:00 PM, but it's always good to confirm for today. We're closed on Sundays.\"\n    Location: Coconut Tree Plaza, West End, ROATAN\n    Order Method: Orders are placed via WhatsApp chat for pickup\n    Automated Welcome Message: Customers may receive an automated message with details; your responses follow that context. There's no need to repeat it.\n    Drinks: Soda and Water are listed, but availability can vary. When a customer orders drinks, confirm with: \"Sure, a [drink]. Just to let you know, drink availability can sometimes change, but I'll add it to your order. Junior will confirm when you pick it up.\"\n\nMenu (Prices in USD)\n\nPizzas (all 14-inch):\n\n    🍕 1. Margherita – $21 Mozzarella, homemade sauce, fresh diced tomatoes\n    🍍 2. Hawaiana – $22 Ham and pineapple\n    🍕 3. Pepperoni – $22 Pepperoni with garlic oil\n    🌶️ 4. Meat Lover & Jalapeños – $25 Sausage, pepperoni, ham, jalapeños\n    🥗 5. Veggie Lovers – $22 Mushrooms, red onions, tomatoes, green peppers, black olives\n    🥓 6. Supreme – $27 All meats and all vegetables\n    🍕 7. Pepperoni, Mushrooms & Red Onions – $23\n    🍕 8. Sausage, Mushrooms & Red Onions – $23\n\nAdd-Ons:\n\n    9. Extra Meat (Sausage, Pepperoni, Ham) – $3 per meat type added\n    10. Extra Veggies (Mushrooms, Onions, Tomatoes, Green P., Olives) – $2 per veggie type\n\nDrinks:\n\n    11. Soda – $2\n    12. Water – $2\n\nCustomizations & Notes\n\n    Adding toppings: For a base pizza, you can add meats for $3 each or veggies for $2 each.\n    Half & Half: If a customer wants 1/2 of one pizza and 1/2 of another, confirm and price based on the more expensive half or a custom combined price; the assistant can note the request for Junior to confirm and finalize the price.\n    Special requests: such as \"extra garlic oil\" or \"extra cheese,\" should be noted for Junior to confirm.\n\nYour Tasks & Response Guidelines:\n\n1. Greeting & Initial Interaction:\n\n    \"Hi contact_name! I'm Pizzaiolo, your assistant for JUNIOR'S Artisan Pizza. How can I help with your order today?\"\n    If the customer just says \"hello\" or asks if you're open, confirm you can take their order (if within hours) and ask what they'd like to order.\n\n2. Menu Inquiries:\n\n    If asked \"What pizzas do you have?\" or \"Can I see the menu?\", respond: \"Sure, contact_name! All our artisan pizzas are 14 inches. Here's what we offer:\"\n        List the main pizzas and mention customizable toppings and add-ons.\n        Emphasize: \"You can add extra meats for $3 or extra veggies for $2 to any pizza. What sounds good?\"\n\n3. Taking Orders:\n\n    Carefully listen to what the customer wants, including size, toppings, and customizations.\n    Clarify ambiguous requests (e.g., \"Is that a Margherita with extra green peppers?\")\n    Calculate the total price by summing base pizza prices plus any add-ons.\n    Confirm details: \"Just to confirm, contact_name, you want [quantity] pizza(s): [list of pizzas with customizations], totaling $[amount]. Is that correct?\"\n    Once the customer confirms, log the Confirmed details into the system and send it for processing with timestamp via Tool_pedidos.\n\n4. Order Status Inquiries:\n\n    If asked \"Is my order ready?\" or \"What's the status?\", reply: \"Hi contact_name, you ordered [quantity] [pizza types] today, on [date]. Your estimated pickup time was around [time]. Junior is working on it! You can come to pick it up when it's ready.\"\n    Check the order status with Tool_pedidos and inform accordingly.\n    If delayed, send a gentle reminder or ask for a status update from Junior.\n\n5. Handling Issues & Miscellaneous Questions:\n\n    If the restaurant is unexpectedly closed, say: \"I'm sorry, contact_name, but Junior's is closed today. We'll be back tomorrow. Disculpa las molestias.\"\n    For questions about reservations or other non-menu requests, politely clarify: \"We mainly handle pickup orders. If you tell me how many pizzas and what time, I can pass it to Junior.\"\n    For requests not on the menu, note them for Junior to confirm if possible.\n\nAdditional Guidelines:\n\n    Always address the customer by contact_name.\n    Be friendly, polite, and concise.\n    Clearly confirm orders and customizations before finalizing.\n    If unsure about any detail, note it and let Junior confirm later.\n    Assume orders are for pickup unless otherwise specified.\n    End interactions positively with thanks or friendly wishes.\n\nTechnical Details:\nif ( $('Get TG Message').isExecuted) { it means Junior is sending an order's update trought Telegram Trigger so have a chat with the customer \"message_from\" , and send it the message_state. }\n\n    When sending the order to the tool Tool_pedidos, include:\n        chat history id,\n        message_from,\n        message_state,\n        Order details, including contact_name, unit price and Total price,\n        Timestamp.\n\n    Use the calculator tool to compute totals when needed."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1920,
        -1180
      ],
      "id": "1d8ff8be-820b-41b2-9cc7-3cecd2ddb82f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {
          "topP": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1600,
        -920
      ],
      "id": "4707e7b9-9516-4bfe-98b1-8add349b6499",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ITH5kt9AuxLTAcPJ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "656321360897564",
        "recipientPhoneNumber": "={{ $('Get TG Message').isExecuted ? $('Get TG Message').item.json.message_from :  $('Get User\\'s Message').item.json.message_from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2400,
        -1180
      ],
      "id": "f56e3c50-b5d3-4253-b3c6-3c111e7f445c",
      "name": "WhatsApp Business Cloud",
      "webhookId": "bc925d7f-f314-4499-84f3-7f8e08665eed",
      "credentials": {
        "whatsAppApi": {
          "id": "O8DMDRZYcS7YCuip",
          "name": "WhatsApp Respuesta"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ JSON.parse($json.message_from) }}",
        "tableName": "historial_conversaciones_JuniorsPizza",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1800,
        -920
      ],
      "id": "2e4c44f1-3a7b-4db2-8313-901c56ed0dad",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "K1LA3eNGbED7IBfW",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "Message",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -820,
        -1200
      ],
      "id": "eba5a988-0c1d-420e-b295-1e3de3333e72",
      "name": "Split Out"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "25af255d-2f8a-4242-b021-800f9da53ee8",
                    "leftValue": "={{ $('WhatsApp_Trigger').item.json.messages[0].type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b2b3e29a-54e3-4b49-9ca2-a775630397b1",
                    "leftValue": "={{ $('WhatsApp_Trigger').item.json.messages[0].type }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "video"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "12f36a6b-c457-4ecd-b9c9-b641f7d7628d",
                    "leftValue": "={{ $('WhatsApp_Trigger').item.json.messages[0].type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('WhatsApp_Trigger').item.json.messages[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "63084834-85f9-4996-8619-6eaae1b3d879"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -380,
        -1220
      ],
      "id": "5988a012-af08-4e2e-8018-0f518e42ea0c",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $('WhatsApp_Trigger').item.json.messages[0].audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -140,
        -2160
      ],
      "id": "95b43209-b8bb-4b75-8e47-88e17a8216c2",
      "name": "WhatsApp Business Audio",
      "webhookId": "24916061-27de-4138-8515-4179f667781d",
      "credentials": {
        "whatsAppApi": {
          "id": "O8DMDRZYcS7YCuip",
          "name": "WhatsApp Respuesta"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        -2160
      ],
      "id": "23b43636-7cd8-4a40-98fa-5dfc1c20df8e",
      "name": "HTTP Download Audio",
      "credentials": {
        "whatsAppApi": {
          "id": "O8DMDRZYcS7YCuip",
          "name": "WhatsApp Respuesta"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $('WhatsApp_Trigger').item.json.messages[0].video.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -140,
        -1900
      ],
      "id": "59893877-70d6-41b5-8f36-0d8dc6accbd5",
      "name": "WhatsApp Business Video",
      "webhookId": "b9c1107b-1200-4ef4-bbfd-724cba71e43b",
      "credentials": {
        "whatsAppApi": {
          "id": "O8DMDRZYcS7YCuip",
          "name": "WhatsApp Respuesta"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        -1900
      ],
      "id": "ec85a0e3-c5de-462c-8125-c140fbee0fb8",
      "name": "HTTP Download Video",
      "credentials": {
        "whatsAppApi": {
          "id": "O8DMDRZYcS7YCuip",
          "name": "WhatsApp Respuesta"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-thinking-exp-01-21:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={{\n{\n  \"contents\": [{\n    \"parts\":[\n      {\"text\": \"Describe this video\"},\n        {\"inlineData\" : {\n          \"mimeType\": 'video/${$binary.data.fileExtension}',\n          \"data\": $input.item.binary.data.data }\n        }\n      ]\n  }]\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        -1900
      ],
      "id": "a316e2e9-e35a-4a4a-a0aa-fe3e010a4d12",
      "name": "Convert Video to Text",
      "credentials": {
        "whatsAppApi": {
          "id": "O8DMDRZYcS7YCuip",
          "name": "WhatsApp Respuesta"
        },
        "googlePalmApi": {
          "id": "ITH5kt9AuxLTAcPJ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-thinking-exp-01-21:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={{\n{\n  \"contents\": [{\n    \"parts\":[\n      {\"text\": \"Transcribe this audio\"},\n        {\"inlineData\" : {\n          \"mimeType\": 'audio/${$binary.data.fileExtension}',\n          \"data\": $input.item.binary.data.data }\n        }\n      ]\n  }]\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        -2160
      ],
      "id": "80e4105c-8885-4f43-b5d4-262cc5de271d",
      "name": "Convert Audio to Text",
      "credentials": {
        "whatsAppApi": {
          "id": "O8DMDRZYcS7YCuip",
          "name": "WhatsApp Respuesta"
        },
        "googlePalmApi": {
          "id": "ITH5kt9AuxLTAcPJ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.image.id }}\n{{ $('WhatsApp_Trigger').item.json.messages[0].image.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -60,
        -1660
      ],
      "id": "198189dc-1c8f-4593-9966-b13488dfcb97",
      "name": "WhatsApp Business Image",
      "webhookId": "f03f0547-78ae-41f2-9310-a513087736e6",
      "credentials": {
        "whatsAppApi": {
          "id": "O8DMDRZYcS7YCuip",
          "name": "WhatsApp Respuesta"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        -1660
      ],
      "id": "ad600cf0-61c8-4e55-8143-77b834dd8a7b",
      "name": "HTTP Download Image",
      "credentials": {
        "whatsAppApi": {
          "id": "O8DMDRZYcS7YCuip",
          "name": "WhatsApp Respuesta"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "here is an image sent by the user. Describe the image and transcribe any text visible in the image, send the timestamp too.",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        380,
        -1660
      ],
      "id": "bc323db5-cd76-4d77-ba4e-06a8ffc0f150",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-thinking-exp-01-21",
        "options": {
          "topK": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        460,
        -1440
      ],
      "id": "9c10459d-ae6e-4721-abcd-c42ca81e3945",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "ITH5kt9AuxLTAcPJ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f4cf6fac-b47f-4577-be0b-f6174ad53ee8",
              "name": "content",
              "value": "={{ $json.candidates[0].content.parts[0].text }}",
              "type": "string"
            },
            {
              "id": "5933bfca-4a14-41dd-8b58-2214b2bb8a59",
              "name": "audio",
              "value": "={{ $('Switch').item.json.audio }}",
              "type": "object"
            },
            {
              "id": "219adf5a-0a41-4b90-aa1f-f807bbd9584a",
              "name": "caption",
              "value": "={{ $('Switch').item.json.audio }}",
              "type": "string"
            },
            {
              "id": "14f06f92-2fbc-48e3-82c0-bd4e2b1e63db",
              "name": "timestamp",
              "value": "={{ $('Switch').item.json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        600,
        -2160
      ],
      "id": "2daeca8d-645d-4cef-b420-6f8a0cc3a81d",
      "name": "format Response 1.1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f4cf6fac-b47f-4577-be0b-f6174ad53ee8",
              "name": "content",
              "value": "={{ $json.candidates[0].content.parts[0].text }}",
              "type": "string"
            },
            {
              "id": "5933bfca-4a14-41dd-8b58-2214b2bb8a59",
              "name": "audio",
              "value": "={{ $('Switch').item.json.video }}",
              "type": "object"
            },
            {
              "id": "219adf5a-0a41-4b90-aa1f-f807bbd9584a",
              "name": "caption",
              "value": "={{ $('Switch').item.json.video }}",
              "type": "string"
            },
            {
              "id": "2860bd66-5b97-44cd-9f9c-92a3b6f8ac3f",
              "name": "timestamp",
              "value": "={{ $('Switch').item.json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        600,
        -1900
      ],
      "id": "85c3ce56-8c74-489b-8f84-a97429c9aae5",
      "name": "format Response 1.2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2c40f9e5-0092-4f8d-b894-fbe88c07f012",
              "name": "message_type",
              "value": "={{ $('DatosNormalizados').item.json.messages.type }}",
              "type": "string"
            },
            {
              "id": "495f02f7-36ef-4394-8b8a-409cdc13a119",
              "name": "message_text",
              "value": "={{ $json.messages.join(\"\\n\") }}",
              "type": "string"
            },
            {
              "id": "54949ec5-a1dc-4674-be56-ce888b946f8f",
              "name": "message_from",
              "value": "={{ $('DatosNormalizados').item.json.contact.wa_id }}",
              "type": "string"
            },
            {
              "id": "c170f06d-cd61-4fac-a26f-58b5f4cf1c43",
              "name": "message_caption",
              "value": "={{ $('DatosNormalizados').item.json.audio && $('Switch').item.json.audio.caption ||'' }}\n{{ $('DatosNormalizados').item.json.video && $('Switch').item.json.video.caption ||'' }}\n{{ $('DatosNormalizados').item.json.image && $('Switch').item.json.image.caption ||'' }}\n",
              "type": "string"
            },
            {
              "id": "5b913e66-d8e1-4740-aec0-db5e19864451",
              "name": "message_timestamp",
              "value": "={{ $('DatosNormalizados').item.json.messages.timestamp }}",
              "type": "string"
            },
            {
              "id": "15eba086-56c2-454c-b9f7-11818b2f2026",
              "name": "contact_name",
              "value": "={{ $('DatosNormalizados').item.json.contact.contact_name }}",
              "type": "string"
            },
            {
              "id": "b8318c2b-7a49-485b-993e-7f19c4875d63",
              "name": "message_id",
              "value": "={{ $('DatosNormalizados').item.json.messages.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1620,
        -1180
      ],
      "id": "78413b72-e07a-418d-9964-ce9d95458311",
      "name": "Get User's Message"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('DatosNormalizados').item.json.messages.wa_id }}_buffer",
        "messageData": "={{ JSON.stringify( $('DatosNormalizados').item.json.messages) }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1760,
        -1200
      ],
      "id": "39696b84-7cbc-47df-acd0-d17e9dfda372",
      "name": "Push messages Buffer",
      "credentials": {
        "redis": {
          "id": "cA25jBBofhwaotOS",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "Message",
        "key": "={{ $('DatosNormalizados').item.json.messages.wa_id }}_buffer",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1540,
        -1200
      ],
      "id": "9d90dfb6-f7ef-4b85-a84d-14aa864b732c",
      "name": "Get Messages Buffer",
      "credentials": {
        "redis": {
          "id": "cA25jBBofhwaotOS",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1aa42921-54f2-41bb-95b5-ba1b6d060030",
              "name": "metadata.phone_number_id",
              "value": "={{ $json.metadata.phone_number_id }}",
              "type": "string"
            },
            {
              "id": "63ade6a4-e18b-4ed4-b05b-2131d6516cd6",
              "name": "contact.contact_name",
              "value": "={{ $json.contacts[0].profile.name }}",
              "type": "string"
            },
            {
              "id": "23b3f795-6820-473a-a5a3-8e5ee21830ab",
              "name": "contact.wa_id",
              "value": "={{ $json.contacts[0].wa_id }}",
              "type": "string"
            },
            {
              "id": "5a126c26-6a1a-4f60-bb5a-d1dfe7fa8cc2",
              "name": "messages.wa_id",
              "value": "={{ $json.contacts[0].wa_id }}",
              "type": "string"
            },
            {
              "id": "436d0d7e-112e-4ea0-afbd-857b08d81371",
              "name": "messages.timestamp",
              "value": "={{ $json.messages[0].timestamp }}",
              "type": "string"
            },
            {
              "id": "11441df4-e737-4d54-8dd1-270c24c8d7b1",
              "name": "messages.content",
              "value": "={{ $json.messages[0].text.body }}",
              "type": "string"
            },
            {
              "id": "29a8ea5f-3de6-4aa4-9bae-0fc23babd614",
              "name": "messages.type",
              "value": "={{ $json.messages[0].type }}",
              "type": "string"
            },
            {
              "id": "c40bafad-a962-4716-b7cb-c6ac792eee2e",
              "name": "field",
              "value": "={{ $json.field }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1980,
        -1200
      ],
      "id": "97e12262-33b4-465c-b4f5-18de4a8d376c",
      "name": "DatosNormalizados"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1040,
        -1000
      ],
      "id": "c2020d6f-dbc9-445f-b83e-bf0b93fbb407",
      "name": "Wait",
      "webhookId": "6480703c-4e2a-4df0-9cdf-602ba70dee2d"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1040,
        -1405
      ],
      "id": "019c17b8-463b-4ea3-bcab-9ca1c0003487",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse($json.Message.last()).wa_id }}",
                    "rightValue": "={{ $('DatosNormalizados').item.json.messages.wa_id }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "fd5ab47e-750f-40b5-af50-e7db1f1ff4ba"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No hacer nada"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "569f605f-3bfc-42d5-9156-d9514a6292a6",
                    "leftValue": "={{ DateTime.fromMillis(Number(JSON.parse($json.Message.last()).timestamp))}}\n",
                    "rightValue": "={{ DateTime.fromMillis($now.minus(5,'seconds').toSeconds())}}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Seguir"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Esperar"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1260,
        -1200
      ],
      "id": "e2691c6b-f8d7-4eec-86e6-8803d9c12ec2",
      "name": "Switch Espera"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{JSON.parse($json.Message) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -600,
        -1200
      ],
      "id": "66feb8df-37e7-40e3-8a0d-8c00ccb5cc03",
      "name": "JSON Parse"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        880,
        -1220
      ],
      "id": "a159dce2-113d-4f8e-97db-ef18b5b3ddaa",
      "name": "Merge"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "timestamp"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        1180,
        -1180
      ],
      "id": "044e0779-e631-4aa2-a217-eb9172efd667",
      "name": "Sort"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content",
              "renameField": true,
              "outputFieldName": "messages"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1400,
        -1180
      ],
      "id": "60a829d3-40bc-48ce-bd0e-7f8176d0be45",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -2020,
        -1700
      ],
      "id": "d2df2871-7585-4655-850f-e9a4822c6006",
      "name": "WhatsApp_Trigger",
      "webhookId": "d663c0d0-2510-4b41-ac6d-ced6fb1c67f5",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "63UQ1OZ6PfurbARa",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('DatosNormalizados').item.json.messages.wa_id }}_buffer"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1020,
        -1200
      ],
      "id": "5131ef59-9cc2-4ea3-809f-ce9b571245ef",
      "name": "Delete Messages Buffer",
      "credentials": {
        "redis": {
          "id": "cA25jBBofhwaotOS",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "description": "=Use this tool to send the confirmed Order, sending, the message_from, the state, the Order with customer_name, prices and the Total Price as a Total, the message´s order id and the timestamp.\nuse this tool to ask Junior for the Order status, he will give you a response about the status\nThe order update is coming from Telegram\n",
        "workflowId": {
          "__rl": true,
          "value": "NnFJVB43HGrgwUOw",
          "mode": "list",
          "cachedResultName": "Agente Pedidos TG_JPizza"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "message_timestamp": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message_timestamp', ``, 'number') }}",
            "message_text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message_text', ``, 'string') }}",
            "message_from": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message_from', ``, 'string') }}",
            "message_state": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message_state', ``, 'string') }}",
            "message_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message_id', ``, 'number') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "message_text",
              "displayName": "message_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message_from",
              "displayName": "message_from",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message_timestamp",
              "displayName": "message_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "message_state",
              "displayName": "message_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1980,
        -920
      ],
      "id": "0aae784d-de81-437a-a515-8b32caf3c14c",
      "name": "Tool_pedidos"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        2220,
        -940
      ],
      "id": "b541507f-6b96-4cd1-b12f-229dcda447a9",
      "name": "Calculator"
    },
    {
      "parameters": {
        "updates": [
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        1140,
        -1540
      ],
      "id": "28cc152d-298b-404a-8757-369ca46bd719",
      "name": "Telegram Trigger",
      "webhookId": "b3711ea3-802d-445e-9c66-9c7bbb24849e",
      "credentials": {
        "telegramApi": {
          "id": "Sjzzj8rExvqd1tes",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2c40f9e5-0092-4f8d-b894-fbe88c07f012",
              "name": "message_type",
              "value": "={{ \"text\" }}",
              "type": "string"
            },
            {
              "id": "495f02f7-36ef-4394-8b8a-409cdc13a119",
              "name": "message_text",
              "value": "={{ $json.callback_query.message.text }}",
              "type": "string"
            },
            {
              "id": "54949ec5-a1dc-4674-be56-ce888b946f8f",
              "name": "message_from",
              "value": "={{ $json.callback_query.data.split(\"\\n\")[1].split(\":\")[1]}}",
              "type": "string"
            },
            {
              "id": "c170f06d-cd61-4fac-a26f-58b5f4cf1c43",
              "name": "message_caption",
              "value": "={{\"\"}}",
              "type": "string"
            },
            {
              "id": "5b913e66-d8e1-4740-aec0-db5e19864451",
              "name": "message_timestamp",
              "value": "={{ $json.callback_query.data.split(\"\\n\")[0].split(\":\")[1]}}",
              "type": "string"
            },
            {
              "id": "15eba086-56c2-454c-b9f7-11818b2f2026",
              "name": "contact_name",
              "value": "={{ $json.callback_query.message.text.split(\":\")[0] }}",
              "type": "string"
            },
            {
              "id": "5c54cabc-16e5-4242-996a-2ff2dfb5beea",
              "name": "message_state",
              "value": "={{ $json.callback_query.data.split(\"\\n\")[2].split(\":\")[1]}}",
              "type": "string"
            },
            {
              "id": "a69a831d-3fee-4fd9-80e2-3fbacbc70d2e",
              "name": "message_id",
              "value": "={{ $json.callback_query.message.message_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1480,
        -1540
      ],
      "id": "fab3b598-78c9-4ce9-bb18-b1bed3938291",
      "name": "Get TG Message"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b01abfb1-7f74-4a82-aa1a-4d0017c4255a",
              "leftValue": "={{ $json.statuses[0] }}",
              "rightValue": "service",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2000,
        -1480
      ],
      "id": "1627eee8-3d1c-4461-b694-2a2bb8f5e6a3",
      "name": "If"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Bogota",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2025-04-19T14:32:32.221Z",
      "createdAt": "2025-04-19T14:32:32.221Z",
      "role": "workflow:owner",
      "workflowId": "cjfIq6yUgUgAhACM",
      "projectId": "bMLPVLxvJNyYpOg4",
      "project": {
        "updatedAt": "2025-04-10T19:37:33.834Z",
        "createdAt": "2025-04-10T19:34:51.491Z",
        "id": "bMLPVLxvJNyYpOg4",
        "name": "andres mora <anlemoca.pm@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "1be52bcb-fd69-4000-ad4f-8a9b9553dae7",
        "projectRelations": [
          {
            "updatedAt": "2025-04-10T19:34:51.491Z",
            "createdAt": "2025-04-10T19:34:51.491Z",
            "userId": "1be52bcb-fd69-4000-ad4f-8a9b9553dae7",
            "projectId": "bMLPVLxvJNyYpOg4",
            "user": {
              "updatedAt": "2026-02-13T18:26:13.532Z",
              "createdAt": "2025-04-10T19:34:49.729Z",
              "id": "1be52bcb-fd69-4000-ad4f-8a9b9553dae7",
              "email": "anlemoca.pm@gmail.com",
              "firstName": "andres",
              "lastName": "mora",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-04-10T19:39:59.967Z",
                "personalization_survey_n8n_version": "1.86.1",
                "automationGoalDevops": [
                  "data-syncing",
                  "monitoring-alerting"
                ],
                "companySize": "<20",
                "companyType": "systems-integrator",
                "role": "it",
                "reportedSource": "friend"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "UvY47ZI6TkdR3EGX",
                "userActivatedAt": 1748458737814,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1764727678159
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-13",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-04-19T14:32:24.162Z",
      "createdAt": "2025-04-19T14:32:24.162Z",
      "id": "g3NaHHARog1Wx0jT",
      "name": "Comida con Menú"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2025-06-11T23:33:46.800Z",
  "versionCounter": 1,
  "versionId": "22c32932-6bac-4da5-8783-b134f1cccc25"
}