Agente Pedidos TG_JPizza.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "processing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ready",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "+ 10 min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ready": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-05-09T20:58:47.880Z",
  "description": null,
  "id": "NnFJVB43HGrgwUOw",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Agente Pedidos TG_JPizza",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "message_text"
            },
            {
              "name": "message_from"
            },
            {
              "name": "message_timestamp",
              "type": "number"
            },
            {
              "name": "message_id",
              "type": "number"
            },
            {
              "name": "message_state"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -480,
        -80
      ],
      "id": "e1635de6-b4c1-4d05-8211-fed8ba47a3ad",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "historial_ordenes_juniorspizza",
          "mode": "list",
          "cachedResultName": "historial_ordenes_juniorspizza"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.message_id }}",
            "message_text": "={{ $json.message_text }}",
            "message_from": "={{ $json.message_from }}",
            "message_timestamp": "={{ $json.message_timestamp }}",
            "message_state": "={{ $json.message_state }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message_from",
              "displayName": "message_from",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "message_text",
              "displayName": "message_text",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "message_timestamp",
              "displayName": "message_timestamp",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "message_state",
              "displayName": "message_state",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -200,
        -80
      ],
      "id": "2c3272da-d470-486f-aeb1-cee18e6fefac",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "K1LA3eNGbED7IBfW",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message_state }}",
                    "rightValue": "processing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c2accb12-f36f-4e17-8e40-092e6f0a9776"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "processing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "813a6047-1ca2-4238-aa6c-f291fdb02c5b",
                    "leftValue": "={{ $json.message_state }}",
                    "rightValue": "ready",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ready"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8df39786-ec5a-4fea-9707-cf50894d44d8",
                    "leftValue": "={{ $json.message_state }}",
                    "rightValue": "+10 minutes",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "10 minutes"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        60,
        -80
      ],
      "id": "21385362-b510-4130-942c-364997810b7c",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "6929772961",
        "text": "={{ $json.message_text }} ",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Ready",
                    "additionalFields": {
                      "callback_data": "=\"id\":{{ $json.message_timestamp.toJsonString() }}\n\"from\":{{ $json.message_from.toJsonString()}}\n\"state\":ready"
                    }
                  },
                  {
                    "text": "+10 minutes",
                    "additionalFields": {
                      "callback_data": "=\"id\":{{ $json.message_timestamp.toJsonString() }}\n\"from\":{{ $json.message_from.toJsonString()}}\n\"state\":+10 minutes"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        400,
        -240
      ],
      "id": "cac1dea6-5883-4b68-8d25-f33f2aa71596",
      "name": "processing",
      "webhookId": "97c0a592-4b5c-4c2f-bd3f-c7154c9e7c00",
      "credentials": {
        "telegramApi": {
          "id": "Sjzzj8rExvqd1tes",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "6929772961",
        "messageId": "={{ $json.id }}",
        "text": "={{ $('Postgres').item.json.message_text }}\nstate: ready",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        400,
        -40
      ],
      "id": "dd602bff-0e56-43b3-af6e-c81383add527",
      "name": "ready",
      "webhookId": "97c0a592-4b5c-4c2f-bd3f-c7154c9e7c00",
      "credentials": {
        "telegramApi": {
          "id": "Sjzzj8rExvqd1tes",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "6929772961",
        "messageId": "={{ $json.id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "={{ $json.message_text}}\nState: +10 minutes",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Ready",
                    "additionalFields": {
                      "callback_data": "=\"id\":{{ $json.message_timestamp.toJsonString() }}\n\"from\":{{ $json.message_from.toJsonString()}}\n\"state\":ready"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        400,
        180
      ],
      "id": "52e44fa3-cd58-44c7-8efb-baecb642c9da",
      "name": "+ 10 min",
      "webhookId": "97c0a592-4b5c-4c2f-bd3f-c7154c9e7c00",
      "credentials": {
        "telegramApi": {
          "id": "Sjzzj8rExvqd1tes",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -480,
        200
      ],
      "id": "3095eccb-b010-49ff-95c1-867a00eedeb6",
      "name": "Crear Chat",
      "webhookId": "bc41b7d8-c711-48b8-8dc4-9042f97604a8",
      "credentials": {
        "telegramApi": {
          "id": "Sjzzj8rExvqd1tes",
          "name": "Telegram account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "7839880794 chat telegram",
        "height": 220,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -540,
        160
      ],
      "id": "85955cf0-7b03-40ea-90d0-8b7655ee4a7c",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "Crear Chat": [
      {
        "json": {
          "update_id": 315589294,
          "message": {
            "message_id": 40,
            "from": {
              "id": 6929772961,
              "is_bot": false,
              "first_name": "Andrés",
              "last_name": "Mora",
              "username": "Anlemoca",
              "language_code": "en"
            },
            "chat": {
              "id": 6929772961,
              "first_name": "Andrés",
              "last_name": "Mora",
              "username": "Anlemoca",
              "type": "private"
            },
            "date": 1747090949,
            "text": "Aquí"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-05-09T20:58:47.880Z",
      "createdAt": "2025-05-09T20:58:47.880Z",
      "role": "workflow:owner",
      "workflowId": "NnFJVB43HGrgwUOw",
      "projectId": "bMLPVLxvJNyYpOg4",
      "project": {
        "updatedAt": "2025-04-10T19:37:33.834Z",
        "createdAt": "2025-04-10T19:34:51.491Z",
        "id": "bMLPVLxvJNyYpOg4",
        "name": "andres mora <anlemoca.pm@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "1be52bcb-fd69-4000-ad4f-8a9b9553dae7",
        "projectRelations": [
          {
            "updatedAt": "2025-04-10T19:34:51.491Z",
            "createdAt": "2025-04-10T19:34:51.491Z",
            "userId": "1be52bcb-fd69-4000-ad4f-8a9b9553dae7",
            "projectId": "bMLPVLxvJNyYpOg4",
            "user": {
              "updatedAt": "2026-02-13T18:26:13.532Z",
              "createdAt": "2025-04-10T19:34:49.729Z",
              "id": "1be52bcb-fd69-4000-ad4f-8a9b9553dae7",
              "email": "anlemoca.pm@gmail.com",
              "firstName": "andres",
              "lastName": "mora",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-04-10T19:39:59.967Z",
                "personalization_survey_n8n_version": "1.86.1",
                "automationGoalDevops": [
                  "data-syncing",
                  "monitoring-alerting"
                ],
                "companySize": "<20",
                "companyType": "systems-integrator",
                "role": "it",
                "reportedSource": "friend"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "UvY47ZI6TkdR3EGX",
                "userActivatedAt": 1748458737814,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1764727678159
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-13",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-04-19T14:32:24.162Z",
      "createdAt": "2025-04-19T14:32:24.162Z",
      "id": "g3NaHHARog1Wx0jT",
      "name": "Comida con Menú"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-06-06T15:54:43.861Z",
  "versionCounter": 4,
  "versionId": "bd0d9fb9-6f6a-45ca-b302-dbe2d9fd26b4"
}