Agente Vendedor Jamilton.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received1": {
      "main": [
        [
          {
            "node": "Split Out Message Parts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio URL1": {
      "main": [
        [
          {
            "node": "Download Audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video URL1": {
      "main": [
        [
          {
            "node": "Download Video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image URL1": {
      "main": [
        [
          {
            "node": "Download Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video1": {
      "main": [
        [
          {
            "node": "Google Gemini Video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio1": {
      "main": [
        [
          {
            "node": "Google Gemini Audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image1": {
      "main": [
        [
          {
            "node": "Image Explainer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Message Parts1": {
      "main": [
        [
          {
            "node": "Redirect Message Types1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redirect Message Types1": {
      "main": [
        [
          {
            "node": "Get Audio URL1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Video URL1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Image URL1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get User's Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Explainer1": {
      "main": [
        [
          {
            "node": "Get User's Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response2": {
      "main": [
        [
          {
            "node": "Get User's Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Audio1": {
      "main": [
        [
          {
            "node": "Format Response3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Video1": {
      "main": [
        [
          {
            "node": "Format Response2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response3": {
      "main": [
        [
          {
            "node": "Get User's Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User's Message1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Image Explainer1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agente productos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agente pagos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agente de  despachos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-17T18:27:40.517Z",
  "description": null,
  "id": "Yj2GPxmBf6hxwX1b",
  "isArchived": false,
  "meta": null,
  "name": "Agente Vendedor Jamilton",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=The user sent the following message\nmessage type: {{ $json.message_type }}\nmessage text or description:\n```{{ $json.message_text }}```\n{{ $json.message_caption ? `message caption: ${$json.message_caption.trim()}` : '' }}",
        "options": {
          "systemMessage": "Crea un asistente experto en ventas enfocado en el cierre efectivo de ventas de productos, que funcione como un asesor bien educado, amable y orientado a la escucha proactiva. Este asistente debe gestionar el inventario de productos, descontando las unidades vendidas y manteniendo un control total del inventario. Utiliza un estilo amable y profesional en todas las interacciones. El nombre del usuario te va a llegar por parámetro, así que tenlo presente para dirigirte a él por el nombre.\n\n# Características del Asistente\n\n- **Experto en Ventas:** Debe tener la capacidad de cerrar ventas de manera efectiva.\n- **Asesoría Educada:** Proveer asesoría bien educada y profesional a los clientes.\n- **Escucha Proactiva:** Orientado a identificar las necesidades del cliente a través de la escucha activa.\n- **Gestión de Inventario:** Puede descontar productos vendidos del inventario, que se manejará a través de una herramienta llamada \"productos\".\n- **Actitud Amable:** Conservar un tono amable en la comunicación con los clientes.\n\n# Pasos\n\n1. Escucha y comprende las necesidades del cliente.\n2. Proporciona asesoría sobre los productos que mejor se ajustan a sus necesidades.\n3. Ofrece información clara y precisa sobre los productos.\n4. Cierra la venta efectivamente.\n5. Actualiza el inventario reduciendo las unidades vendidas.\n6. Mantén una relación amigable y de confianza con el cliente.\n\n# Formato de Salida\n\nLas respuestas deben ser en formato de conversación amigable y detallada, adecuadas a cada interacción en el proceso de venta.\n\n# Ejemplos\n\n**Ejemplo 1:**\n\n- **Cliente:** Necesito un teléfono nuevo con buena cámara.\n- **Asesor:** ¡Claro! Permíteme recomendarte el modelo [Nombre del modelo] que tiene [Características destacadas]. ¿Te gustaría que te envíe más detalles sobre este producto?\n\n**Ejemplo 2:**\n\n- **Cliente:** ¿Tienen disponible el artículo [Nombre del artículo] en el inventario?\n- **Asesor:** Permitame verificar... Sí, tenemos [número de unidades] disponibles en nuestro inventario. ¿Te gustaría proceder con la compra?\n\n(Nota: Los ejemplos reales deben adaptarse a las consultas específicas de los clientes y requerirán entradas y respuestas más detalladas)\n\n# Notas\n\n- Recuerda actualizar el inventario cada vez que se complete una venta.\n- Mantén un tono consistente de amabilidad y profesionalismo.\n- Prioriza la satisfacción del cliente en todas las interacciones.\n- Considera ofrecer productos complementarios relevantes cuando sea oportuno.\n\nSolicitud usuario:"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1500,
        1180
      ],
      "id": "8ec83129-f85e-4501-b5bb-50da63b498f6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received1').item.json.messages[0].from }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1280,
        1680
      ],
      "id": "0cfc9cc3-9ec1-4629-9bd7-9beab01b90cc",
      "name": "Postgres Chat Memory"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=545272765327590",
        "recipientPhoneNumber": "573017759223",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2060,
        1240
      ],
      "id": "2ff9d280-a414-4b61-bb83-04c09b44b683",
      "name": "WhatsApp Business Cloud",
      "webhookId": "f8e2aa38-652f-4bb7-959c-0e3ca0de7860"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -860,
        1200
      ],
      "id": "1f7b675d-8760-4731-83b7-cd3bc0a72448",
      "name": "When chat message received1",
      "webhookId": "5d1f3b73-2735-4fd0-9f3c-de66f4f8ca73"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite-001",
        "options": {
          "topP": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        940,
        1700
      ],
      "id": "366678dd-c6c7-400d-b783-e284f8fddbf1",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ITH5kt9AuxLTAcPJ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.audio.id }}"
      },
      "id": "86020efe-0bdb-4df6-a75c-805df83c8cad",
      "name": "Get Audio URL1",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        0,
        120
      ],
      "typeVersion": 1,
      "webhookId": "d846365a-dd61-4048-93cc-1b0334ffa9b7"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.video.id }}"
      },
      "id": "14a8a806-ddf8-4639-a1c2-21ee97389201",
      "name": "Get Video URL1",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        0,
        480
      ],
      "typeVersion": 1,
      "webhookId": "880ea2e6-59c6-4835-8155-ba49e1b2ec35"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.image.id }}"
      },
      "id": "72088ce1-43d6-4b3a-ad98-4cc25cf31ade",
      "name": "Get Image URL1",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        0,
        820
      ],
      "typeVersion": 1,
      "webhookId": "b09edfb5-dbe2-4b9c-98ad-dc593b21a1c2"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {}
      },
      "id": "a542afdf-8567-44e4-8c9c-d108beb71ed2",
      "name": "Download Video1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        160,
        480
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {}
      },
      "id": "721d2e27-20c3-4e34-b4fb-1a7a6cbe4f9c",
      "name": "Download Audio1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        160,
        120
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {}
      },
      "id": "f4c23767-e3f2-464c-b4bd-27ba9c7777e6",
      "name": "Download Image1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        180,
        820
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d990cbd6-a408-4ec4-a889-41be698918d9",
              "name": "message_type",
              "type": "string",
              "value": "={{ $('Split Out Message Parts1').item.json.type }}"
            },
            {
              "id": "23b785c3-f38e-4706-80b7-51f333bba3bd",
              "name": "message_text",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "id": "6e83f9a7-cf75-4182-b2d2-3151e8af76b9",
              "name": "from",
              "type": "string",
              "value": "={{ $('When chat message received1').item.json.messages[0].from }}"
            },
            {
              "id": "da4b602a-28ca-4b0d-a747-c3d3698c3731",
              "name": "message_caption",
              "type": "string",
              "value": "={{ $('Redirect Message Types1').item.json.video && $('Redirect Message Types1').item.json.video.caption || '' }}\n{{ $('Redirect Message Types1').item.json.image && $('Redirect Message Types1').item.json.image.caption || ''}}\n{{ $('Redirect Message Types1').item.json.audio && $('Redirect Message Types1').item.json.audio.caption || ''}}"
            }
          ]
        },
        "options": {}
      },
      "id": "eb070707-bd28-445e-bcc5-89e0a2aad521",
      "name": "Get User's Message1",
      "type": "n8n-nodes-base.set",
      "position": [
        1100,
        1180
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "fieldToSplitOut": "messages",
        "options": {}
      },
      "id": "97b080c4-cd08-45cc-9429-372029ddfb99",
      "name": "Split Out Message Parts1",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        -600,
        920
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.type == 'audio' && Boolean($json.audio) }}",
                    "rightValue": "audio",
                    "id": "91387882-a722-41fd-8b62-08dd3a8705e5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio Message"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "82aa5ff4-c9b6-4187-a27e-c7c5d9bfdda0",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.type == 'video' && Boolean($json.video) }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Video Message"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "05b30af4-967b-4824-abdc-84a8292ac0e5",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.type == 'image' && Boolean($json.image) }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Image Message"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Text Message"
        }
      },
      "id": "7cb166d2-0ea7-4aa6-a900-c9a824b23e45",
      "name": "Redirect Message Types1",
      "type": "n8n-nodes-base.switch",
      "position": [
        -320,
        1120
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "content": "### 2. Transcribe Audio Messages 💬\nFor audio messages or voice notes, we can use GPT4o to transcribe the message for our AI Agent.",
        "height": 97.23360184119679,
        "width": 356.65822784810103,
        "color": 7
      },
      "id": "9f657d79-cecc-4408-a54a-b6a04fc6fb4c",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 3. Describe Video Messages 🎬\nFor video messages, one approach is to use a Multimodal Model that supports parsing video. Currently, Google Gemini is a well-tested service for this task. We'll need to use the HTTP request node as currrently n8n's LLM node doesn't currently support video binary types.",
        "height": 127.13555811277331,
        "width": 492.5258918296896,
        "color": 7
      },
      "id": "84b0e016-1764-4b7d-892d-4f9d6c00d859",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 4. Analyse Image Messages 🏞️\nFor image messages, we can use GPT4o to explain what is going on in the message for our AI Agent.",
        "height": 97.23360184119679,
        "width": 356.65822784810103,
        "color": 7
      },
      "id": "036efa83-6056-4121-a030-6eb9f765276c",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        700
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Here is an image sent by the user. Describe the image and transcribe any text visible in the image.",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary"
            }
          ]
        }
      },
      "id": "908029b1-c50f-4b84-84be-7a2ed841a17b",
      "name": "Image Explainer1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        560,
        820
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ec0e573-373b-4692-bfae-86b6d3b9aa9a",
              "name": "text",
              "type": "string",
              "value": "={{ $json.candidates[0].content.parts[0].text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "241ead53-7f59-4b78-9844-70363b11e8b4",
      "name": "Format Response2",
      "type": "n8n-nodes-base.set",
      "position": [
        840,
        480
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-lite:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  \"contents\": [{\n    \"parts\":[\n      {\"text\": \"Transcribe this audio\"},\n      {\"inlineData\": {\n        \"mimeType\": `audio/${$binary.data.fileExtension}`,\n        \"data\": $input.item.binary.data.data }\n      }\n    ]\n  }]\n}\n}}",
        "options": {}
      },
      "id": "bf065ae7-0a4a-40aa-9235-5522e58171e1",
      "name": "Google Gemini Audio1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        600,
        120
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-lite:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  \"contents\": [{\n    \"parts\":[\n      {\"text\": \"Describe this video\"},\n      {\"inlineData\": {\n        \"mimeType\": `video/${$binary.data.fileExtension}`,\n        \"data\": $input.item.binary.data.data }\n      }\n    ]\n  }]\n}\n}}",
        "options": {}
      },
      "id": "b16a5865-ad62-4fb5-8553-6dc704000dd1",
      "name": "Google Gemini Video1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        600,
        480
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ec0e573-373b-4692-bfae-86b6d3b9aa9a",
              "name": "text",
              "type": "string",
              "value": "={{ $json.candidates[0].content.parts[0].text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e1411f69-605b-451d-a26c-0efad5e26967",
      "name": "Format Response3",
      "type": "n8n-nodes-base.set",
      "position": [
        840,
        120
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite-001",
        "options": {}
      },
      "id": "601a3197-5813-4535-b966-2a0eb91039fb",
      "name": "Google Gemini Chat Model6",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        600,
        1020
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "name": "productos",
        "description": "fghfghfgh",
        "workflowId": {
          "__rl": true,
          "value": "flcqWpzSYthzih2n",
          "mode": "list",
          "cachedResultName": "Agente productos/servicios"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "session?id",
              "displayName": "session?id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "product_query",
              "displayName": "product_query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        1900,
        1640
      ],
      "id": "893497d1-84e8-4b5a-a70a-2b167b8d1315",
      "name": "Agente productos"
    },
    {
      "parameters": {
        "name": "fghjfj",
        "description": "fghjfgjfgjfgj",
        "workflowId": {
          "__rl": true,
          "value": "zcSZBa8KtHmxUb8r",
          "mode": "list",
          "cachedResultName": "Agente Correo"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        1720,
        1660
      ],
      "id": "7e992ed1-a4b3-4e05-9eb5-59299933ad2d",
      "name": "Agente pagos"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        1500,
        1660
      ],
      "id": "cbd3d0e6-426d-472d-a9df-f5ab1f0b17be",
      "name": "Agente de  despachos"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-04-17T18:27:40.517Z",
      "createdAt": "2025-04-17T18:27:40.517Z",
      "role": "workflow:owner",
      "workflowId": "Yj2GPxmBf6hxwX1b",
      "projectId": "bMLPVLxvJNyYpOg4",
      "project": {
        "updatedAt": "2025-04-10T19:37:33.834Z",
        "createdAt": "2025-04-10T19:34:51.491Z",
        "id": "bMLPVLxvJNyYpOg4",
        "name": "andres mora <anlemoca.pm@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "1be52bcb-fd69-4000-ad4f-8a9b9553dae7",
        "projectRelations": [
          {
            "updatedAt": "2025-04-10T19:34:51.491Z",
            "createdAt": "2025-04-10T19:34:51.491Z",
            "userId": "1be52bcb-fd69-4000-ad4f-8a9b9553dae7",
            "projectId": "bMLPVLxvJNyYpOg4",
            "user": {
              "updatedAt": "2026-02-13T18:26:13.532Z",
              "createdAt": "2025-04-10T19:34:49.729Z",
              "id": "1be52bcb-fd69-4000-ad4f-8a9b9553dae7",
              "email": "anlemoca.pm@gmail.com",
              "firstName": "andres",
              "lastName": "mora",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-04-10T19:39:59.967Z",
                "personalization_survey_n8n_version": "1.86.1",
                "automationGoalDevops": [
                  "data-syncing",
                  "monitoring-alerting"
                ],
                "companySize": "<20",
                "companyType": "systems-integrator",
                "role": "it",
                "reportedSource": "friend"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "UvY47ZI6TkdR3EGX",
                "userActivatedAt": 1748458737814,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1764727678159
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-13",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-19T14:29:41.848Z",
  "versionCounter": 1,
  "versionId": "c4510ad0-ec4f-4858-8bd1-7ae10cec4525"
}