Agente Pedidos TG_JPizza 220525 MPV.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-03T01:55:24.502Z",
    "createdAt": "2025-12-03T01:55:24.502Z",
    "versionId": "a0f9786b-4922-42f2-b2b5-073fc538b4e9",
    "workflowId": "lvkryPVQQ4po42ew",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "message_text"
              },
              {
                "name": "message_from"
              },
              {
                "name": "message_timestamp",
                "type": "number"
              },
              {
                "name": "message_id",
                "type": "number"
              },
              {
                "name": "message_state"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -480,
          -80
        ],
        "id": "fda8f66b-1e9f-413a-ab14-9d2f2327d4bb",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "operation": "upsert",
          "schema": {
            "__rl": true,
            "value": "public",
            "mode": "list",
            "cachedResultName": "public"
          },
          "table": {
            "__rl": true,
            "value": "historial_ordenes_juniorspizza",
            "mode": "list",
            "cachedResultName": "historial_ordenes_juniorspizza"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "id": "={{ $json.message_id }}",
              "message_text": "={{ $json.message_text }}",
              "message_from": "={{ $json.message_from }}",
              "message_timestamp": "={{ $json.message_timestamp }}",
              "message_state": "={{ $json.message_state }}"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "message_from",
                "displayName": "message_from",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false,
                "removed": false
              },
              {
                "id": "message_text",
                "displayName": "message_text",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false,
                "removed": false
              },
              {
                "id": "message_timestamp",
                "displayName": "message_timestamp",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false,
                "removed": false
              },
              {
                "id": "message_state",
                "displayName": "message_state",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -200,
          -80
        ],
        "id": "3f8da0e9-9f39-45be-9d5e-06c32705ed9a",
        "name": "Postgres",
        "credentials": {
          "postgres": {
            "id": "K1LA3eNGbED7IBfW",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.message_state }}",
                      "rightValue": "processing",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "c2accb12-f36f-4e17-8e40-092e6f0a9776"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "processing"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "813a6047-1ca2-4238-aa6c-f291fdb02c5b",
                      "leftValue": "={{ $json.message_state }}",
                      "rightValue": "ready",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "ready"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "8df39786-ec5a-4fea-9707-cf50894d44d8",
                      "leftValue": "={{ $json.message_state }}",
                      "rightValue": "+10 minutes",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "10 minutes"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          60,
          -80
        ],
        "id": "ebebb72a-eef8-4621-a9d9-4f739c2f06f3",
        "name": "Switch"
      },
      {
        "parameters": {
          "chatId": "7839880794",
          "text": "={{ $json.message_text }} ",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Ready",
                      "additionalFields": {
                        "callback_data": "=\"id\":{{ $json.message_timestamp.toJsonString() }}\n\"from\":{{ $json.message_from.toJsonString()}}\n\"state\":ready"
                      }
                    },
                    {
                      "text": "+10 minutes",
                      "additionalFields": {
                        "callback_data": "=\"id\":{{ $json.message_timestamp.toJsonString() }}\n\"from\":{{ $json.message_from.toJsonString()}}\n\"state\":+10 minutes"
                      }
                    }
                  ]
                }
              }
            ]
          },
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          400,
          -240
        ],
        "id": "fea478d2-882b-4120-85bf-c1a51ae7910c",
        "name": "processing",
        "webhookId": "e102cc48-d436-4625-bdd3-a5f4303be57b",
        "credentials": {
          "telegramApi": {
            "id": "Sjzzj8rExvqd1tes",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "operation": "editMessageText",
          "chatId": "7839880794",
          "messageId": "={{ $json.id }}",
          "text": "={{ $('Postgres').item.json.message_text }}\nstate: ready",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          400,
          -40
        ],
        "id": "087eaff1-20a9-4f3e-8ff4-634aaacdc2a1",
        "name": "ready",
        "webhookId": "c8346a6d-0f99-46d2-89ba-c94a0b58641e",
        "credentials": {
          "telegramApi": {
            "id": "Sjzzj8rExvqd1tes",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "operation": "editMessageText",
          "chatId": "7839880794",
          "messageId": "={{ $json.id }}",
          "replyMarkup": "inlineKeyboard",
          "text": "={{ $json.message_text}}\nState: +10 minutes",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Ready",
                      "additionalFields": {
                        "callback_data": "=\"id\":{{ $json.message_timestamp.toJsonString() }}\n\"from\":{{ $json.message_from.toJsonString()}}\n\"state\":ready"
                      }
                    }
                  ]
                }
              }
            ]
          },
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          400,
          180
        ],
        "id": "8e581dab-2bc1-486f-b379-dba8dad48e5f",
        "name": "+ 10 min",
        "webhookId": "17694b0e-9bec-48d8-ac60-1eced6b5b9ed",
        "credentials": {
          "telegramApi": {
            "id": "Sjzzj8rExvqd1tes",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "updates": [
            "message"
          ],
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "position": [
          -480,
          200
        ],
        "id": "4b8fb5ec-bdd7-408c-afc6-46dfc1393583",
        "name": "Crear Chat",
        "webhookId": "297832e6-50ae-478c-a092-c9fe67c3bf55",
        "credentials": {
          "telegramApi": {
            "id": "Sjzzj8rExvqd1tes",
            "name": "Telegram account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "content": "7839880794 chat telegram",
          "height": 220,
          "width": 260
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -540,
          160
        ],
        "id": "e3deca89-5b63-4cf5-ba4f-f7fbc20ff7fe",
        "name": "Sticky Note"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Postgres",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "processing",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "ready",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "+ 10 min",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ready": {
        "main": [
          []
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2025-05-29T14:41:16.285Z",
        "id": 5,
        "workflowId": "lvkryPVQQ4po42ew",
        "versionId": "a0f9786b-4922-42f2-b2b5-073fc538b4e9",
        "event": "activated",
        "userId": null
      }
    ]
  },
  "activeVersionId": "a0f9786b-4922-42f2-b2b5-073fc538b4e9",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "processing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ready",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "+ 10 min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ready": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-05-23T01:37:29.376Z",
  "description": null,
  "id": "lvkryPVQQ4po42ew",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Agente Pedidos TG_JPizza 220525 MPV",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "message_text"
            },
            {
              "name": "message_from"
            },
            {
              "name": "message_timestamp",
              "type": "number"
            },
            {
              "name": "message_id",
              "type": "number"
            },
            {
              "name": "message_state"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -480,
        -80
      ],
      "id": "fda8f66b-1e9f-413a-ab14-9d2f2327d4bb",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "historial_ordenes_juniorspizza",
          "mode": "list",
          "cachedResultName": "historial_ordenes_juniorspizza"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.message_id }}",
            "message_text": "={{ $json.message_text }}",
            "message_from": "={{ $json.message_from }}",
            "message_timestamp": "={{ $json.message_timestamp }}",
            "message_state": "={{ $json.message_state }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message_from",
              "displayName": "message_from",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "message_text",
              "displayName": "message_text",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "message_timestamp",
              "displayName": "message_timestamp",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "message_state",
              "displayName": "message_state",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -200,
        -80
      ],
      "id": "3f8da0e9-9f39-45be-9d5e-06c32705ed9a",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "K1LA3eNGbED7IBfW",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message_state }}",
                    "rightValue": "processing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c2accb12-f36f-4e17-8e40-092e6f0a9776"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "processing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "813a6047-1ca2-4238-aa6c-f291fdb02c5b",
                    "leftValue": "={{ $json.message_state }}",
                    "rightValue": "ready",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ready"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8df39786-ec5a-4fea-9707-cf50894d44d8",
                    "leftValue": "={{ $json.message_state }}",
                    "rightValue": "+10 minutes",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "10 minutes"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        60,
        -80
      ],
      "id": "ebebb72a-eef8-4621-a9d9-4f739c2f06f3",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "7839880794",
        "text": "={{ $json.message_text }} ",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Ready",
                    "additionalFields": {
                      "callback_data": "=\"id\":{{ $json.message_timestamp.toJsonString() }}\n\"from\":{{ $json.message_from.toJsonString()}}\n\"state\":ready"
                    }
                  },
                  {
                    "text": "+10 minutes",
                    "additionalFields": {
                      "callback_data": "=\"id\":{{ $json.message_timestamp.toJsonString() }}\n\"from\":{{ $json.message_from.toJsonString()}}\n\"state\":+10 minutes"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        400,
        -240
      ],
      "id": "fea478d2-882b-4120-85bf-c1a51ae7910c",
      "name": "processing",
      "webhookId": "e102cc48-d436-4625-bdd3-a5f4303be57b",
      "credentials": {
        "telegramApi": {
          "id": "Sjzzj8rExvqd1tes",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "7839880794",
        "messageId": "={{ $json.id }}",
        "text": "={{ $('Postgres').item.json.message_text }}\nstate: ready",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        400,
        -40
      ],
      "id": "087eaff1-20a9-4f3e-8ff4-634aaacdc2a1",
      "name": "ready",
      "webhookId": "c8346a6d-0f99-46d2-89ba-c94a0b58641e",
      "credentials": {
        "telegramApi": {
          "id": "Sjzzj8rExvqd1tes",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "7839880794",
        "messageId": "={{ $json.id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "={{ $json.message_text}}\nState: +10 minutes",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Ready",
                    "additionalFields": {
                      "callback_data": "=\"id\":{{ $json.message_timestamp.toJsonString() }}\n\"from\":{{ $json.message_from.toJsonString()}}\n\"state\":ready"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        400,
        180
      ],
      "id": "8e581dab-2bc1-486f-b379-dba8dad48e5f",
      "name": "+ 10 min",
      "webhookId": "17694b0e-9bec-48d8-ac60-1eced6b5b9ed",
      "credentials": {
        "telegramApi": {
          "id": "Sjzzj8rExvqd1tes",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -480,
        200
      ],
      "id": "4b8fb5ec-bdd7-408c-afc6-46dfc1393583",
      "name": "Crear Chat",
      "webhookId": "297832e6-50ae-478c-a092-c9fe67c3bf55",
      "credentials": {
        "telegramApi": {
          "id": "Sjzzj8rExvqd1tes",
          "name": "Telegram account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "7839880794 chat telegram",
        "height": 220,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -540,
        160
      ],
      "id": "e3deca89-5b63-4cf5-ba4f-f7fbc20ff7fe",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-05-23T01:37:29.376Z",
      "createdAt": "2025-05-23T01:37:29.376Z",
      "role": "workflow:owner",
      "workflowId": "lvkryPVQQ4po42ew",
      "projectId": "bMLPVLxvJNyYpOg4",
      "project": {
        "updatedAt": "2025-04-10T19:37:33.834Z",
        "createdAt": "2025-04-10T19:34:51.491Z",
        "id": "bMLPVLxvJNyYpOg4",
        "name": "andres mora <anlemoca.pm@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "1be52bcb-fd69-4000-ad4f-8a9b9553dae7",
        "projectRelations": [
          {
            "updatedAt": "2025-04-10T19:34:51.491Z",
            "createdAt": "2025-04-10T19:34:51.491Z",
            "userId": "1be52bcb-fd69-4000-ad4f-8a9b9553dae7",
            "projectId": "bMLPVLxvJNyYpOg4",
            "user": {
              "updatedAt": "2026-02-13T18:26:13.532Z",
              "createdAt": "2025-04-10T19:34:49.729Z",
              "id": "1be52bcb-fd69-4000-ad4f-8a9b9553dae7",
              "email": "anlemoca.pm@gmail.com",
              "firstName": "andres",
              "lastName": "mora",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-04-10T19:39:59.967Z",
                "personalization_survey_n8n_version": "1.86.1",
                "automationGoalDevops": [
                  "data-syncing",
                  "monitoring-alerting"
                ],
                "companySize": "<20",
                "companyType": "systems-integrator",
                "role": "it",
                "reportedSource": "friend"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "UvY47ZI6TkdR3EGX",
                "userActivatedAt": 1748458737814,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1764727678159
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-13",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-04-19T14:32:24.162Z",
      "createdAt": "2025-04-19T14:32:24.162Z",
      "id": "g3NaHHARog1Wx0jT",
      "name": "Comida con Menú"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-05-29T14:41:16.285Z",
  "versionCounter": 3,
  "versionId": "a0f9786b-4922-42f2-b2b5-073fc538b4e9"
}