Agente Pedidos TG_JPizza_MPV_290525.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-03T01:55:24.502Z",
    "createdAt": "2025-12-03T01:55:24.502Z",
    "versionId": "7cefea2b-b26a-4295-9113-f232a2bd7b5a",
    "workflowId": "Zk4thUme0vtwQOl0",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "message_text"
              },
              {
                "name": "message_from"
              },
              {
                "name": "message_timestamp",
                "type": "number"
              },
              {
                "name": "message_id",
                "type": "number"
              },
              {
                "name": "message_state"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -480,
          -80
        ],
        "id": "b486390c-4263-492c-b5ae-f755f4a0ba1a",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "operation": "upsert",
          "schema": {
            "__rl": true,
            "value": "public",
            "mode": "list",
            "cachedResultName": "public"
          },
          "table": {
            "__rl": true,
            "value": "historial_ordenes_juniorspizza",
            "mode": "list",
            "cachedResultName": "historial_ordenes_juniorspizza"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "id": "={{ $json.message_id }}",
              "message_text": "={{ $json.message_text }}",
              "message_from": "={{ $json.message_from }}",
              "message_timestamp": "={{ $json.message_timestamp }}",
              "message_state": "={{ $json.message_state }}"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "message_from",
                "displayName": "message_from",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false,
                "removed": false
              },
              {
                "id": "message_text",
                "displayName": "message_text",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false,
                "removed": false
              },
              {
                "id": "message_timestamp",
                "displayName": "message_timestamp",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false,
                "removed": false
              },
              {
                "id": "message_state",
                "displayName": "message_state",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -200,
          -80
        ],
        "id": "9087585d-a951-4dd4-93c1-809a9e009623",
        "name": "Postgres",
        "credentials": {
          "postgres": {
            "id": "K1LA3eNGbED7IBfW",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.message_state }}",
                      "rightValue": "processing",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "c2accb12-f36f-4e17-8e40-092e6f0a9776"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "processing"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "813a6047-1ca2-4238-aa6c-f291fdb02c5b",
                      "leftValue": "={{ $json.message_state }}",
                      "rightValue": "ready",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "ready"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "8df39786-ec5a-4fea-9707-cf50894d44d8",
                      "leftValue": "={{ $json.message_state }}",
                      "rightValue": "+10 minutes",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "10 minutes"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          60,
          -80
        ],
        "id": "7d384a3e-ca59-45a6-9b96-e20b81baf577",
        "name": "Switch"
      },
      {
        "parameters": {
          "chatId": "7839880794",
          "text": "={{ $json.message_text }} ",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Ready",
                      "additionalFields": {
                        "callback_data": "=\"id\":{{ $json.message_timestamp.toJsonString() }}\n\"from\":{{ $json.message_from.toJsonString()}}\n\"state\":ready"
                      }
                    },
                    {
                      "text": "+10 minutes",
                      "additionalFields": {
                        "callback_data": "=\"id\":{{ $json.message_timestamp.toJsonString() }}\n\"from\":{{ $json.message_from.toJsonString()}}\n\"state\":+10 minutes"
                      }
                    }
                  ]
                }
              }
            ]
          },
          "additionalFields": {
            "appendAttribution": false
          },
          "path": "87c7bf08-d977-4455-b6c2-3370e0ae142a"
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          400,
          -240
        ],
        "id": "74e50565-a696-4640-8c38-127a184efe63",
        "name": "processing",
        "webhookId": "87c7bf08-d977-4455-b6c2-3370e0ae142a",
        "credentials": {
          "telegramApi": {
            "id": "Sjzzj8rExvqd1tes",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "operation": "editMessageText",
          "chatId": "7839880794",
          "messageId": "={{ $json.id }}",
          "text": "={{ $('Postgres').item.json.message_text }}\nstate: ready",
          "additionalFields": {},
          "path": "67f1168f-01d3-4739-8a2b-42b4f4455f6d"
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          400,
          -40
        ],
        "id": "6fe3e68f-1093-4879-841c-737866e5845f",
        "name": "ready",
        "webhookId": "67f1168f-01d3-4739-8a2b-42b4f4455f6d",
        "credentials": {
          "telegramApi": {
            "id": "Sjzzj8rExvqd1tes",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "operation": "editMessageText",
          "chatId": "7839880794",
          "messageId": "={{ $json.id }}",
          "replyMarkup": "inlineKeyboard",
          "text": "={{ $json.message_text}}\nState: +10 minutes",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Ready",
                      "additionalFields": {
                        "callback_data": "=\"id\":{{ $json.message_timestamp.toJsonString() }}\n\"from\":{{ $json.message_from.toJsonString()}}\n\"state\":ready"
                      }
                    }
                  ]
                }
              }
            ]
          },
          "additionalFields": {},
          "path": "c511bc27-572b-4f0d-95fa-b1e2db6fbcad"
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          400,
          180
        ],
        "id": "1ed9469e-c96d-43fd-8c79-7489c33f6e2d",
        "name": "+ 10 min",
        "webhookId": "c511bc27-572b-4f0d-95fa-b1e2db6fbcad",
        "credentials": {
          "telegramApi": {
            "id": "Sjzzj8rExvqd1tes",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "updates": [
            "message"
          ],
          "additionalFields": {},
          "path": "c678432f-cce8-45f9-bb70-bf8f5998a7ac"
        },
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "position": [
          -480,
          200
        ],
        "id": "7d533bf5-d58e-4b3e-931e-1ef7f87b3746",
        "name": "Crear Chat",
        "webhookId": "c678432f-cce8-45f9-bb70-bf8f5998a7ac",
        "credentials": {
          "telegramApi": {
            "id": "Sjzzj8rExvqd1tes",
            "name": "Telegram account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "content": "7839880794 chat telegram",
          "height": 220,
          "width": 260
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -540,
          160
        ],
        "id": "6903ff81-b4e2-4fc9-8ca3-b9337d7d93de",
        "name": "Sticky Note"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Postgres",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "processing",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "ready",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "+ 10 min",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ready": {
        "main": [
          []
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2025-05-29T14:42:54.777Z",
        "id": 2,
        "workflowId": "Zk4thUme0vtwQOl0",
        "versionId": "7cefea2b-b26a-4295-9113-f232a2bd7b5a",
        "event": "activated",
        "userId": null
      }
    ]
  },
  "activeVersionId": "7cefea2b-b26a-4295-9113-f232a2bd7b5a",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "processing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ready",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "+ 10 min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ready": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-05-29T14:41:53.346Z",
  "description": null,
  "id": "Zk4thUme0vtwQOl0",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Agente Pedidos TG_JPizza_MPV_290525",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "message_text"
            },
            {
              "name": "message_from"
            },
            {
              "name": "message_timestamp",
              "type": "number"
            },
            {
              "name": "message_id",
              "type": "number"
            },
            {
              "name": "message_state"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -480,
        -80
      ],
      "id": "b486390c-4263-492c-b5ae-f755f4a0ba1a",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "historial_ordenes_juniorspizza",
          "mode": "list",
          "cachedResultName": "historial_ordenes_juniorspizza"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.message_id }}",
            "message_text": "={{ $json.message_text }}",
            "message_from": "={{ $json.message_from }}",
            "message_timestamp": "={{ $json.message_timestamp }}",
            "message_state": "={{ $json.message_state }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message_from",
              "displayName": "message_from",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "message_text",
              "displayName": "message_text",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "message_timestamp",
              "displayName": "message_timestamp",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "message_state",
              "displayName": "message_state",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -200,
        -80
      ],
      "id": "9087585d-a951-4dd4-93c1-809a9e009623",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "K1LA3eNGbED7IBfW",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message_state }}",
                    "rightValue": "processing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c2accb12-f36f-4e17-8e40-092e6f0a9776"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "processing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "813a6047-1ca2-4238-aa6c-f291fdb02c5b",
                    "leftValue": "={{ $json.message_state }}",
                    "rightValue": "ready",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ready"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8df39786-ec5a-4fea-9707-cf50894d44d8",
                    "leftValue": "={{ $json.message_state }}",
                    "rightValue": "+10 minutes",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "10 minutes"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        60,
        -80
      ],
      "id": "7d384a3e-ca59-45a6-9b96-e20b81baf577",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "7839880794",
        "text": "={{ $json.message_text }} ",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Ready",
                    "additionalFields": {
                      "callback_data": "=\"id\":{{ $json.message_timestamp.toJsonString() }}\n\"from\":{{ $json.message_from.toJsonString()}}\n\"state\":ready"
                    }
                  },
                  {
                    "text": "+10 minutes",
                    "additionalFields": {
                      "callback_data": "=\"id\":{{ $json.message_timestamp.toJsonString() }}\n\"from\":{{ $json.message_from.toJsonString()}}\n\"state\":+10 minutes"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        },
        "path": "87c7bf08-d977-4455-b6c2-3370e0ae142a"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        400,
        -240
      ],
      "id": "74e50565-a696-4640-8c38-127a184efe63",
      "name": "processing",
      "webhookId": "87c7bf08-d977-4455-b6c2-3370e0ae142a",
      "credentials": {
        "telegramApi": {
          "id": "Sjzzj8rExvqd1tes",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "7839880794",
        "messageId": "={{ $json.id }}",
        "text": "={{ $('Postgres').item.json.message_text }}\nstate: ready",
        "additionalFields": {},
        "path": "67f1168f-01d3-4739-8a2b-42b4f4455f6d"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        400,
        -40
      ],
      "id": "6fe3e68f-1093-4879-841c-737866e5845f",
      "name": "ready",
      "webhookId": "67f1168f-01d3-4739-8a2b-42b4f4455f6d",
      "credentials": {
        "telegramApi": {
          "id": "Sjzzj8rExvqd1tes",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "7839880794",
        "messageId": "={{ $json.id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "={{ $json.message_text}}\nState: +10 minutes",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Ready",
                    "additionalFields": {
                      "callback_data": "=\"id\":{{ $json.message_timestamp.toJsonString() }}\n\"from\":{{ $json.message_from.toJsonString()}}\n\"state\":ready"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {},
        "path": "c511bc27-572b-4f0d-95fa-b1e2db6fbcad"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        400,
        180
      ],
      "id": "1ed9469e-c96d-43fd-8c79-7489c33f6e2d",
      "name": "+ 10 min",
      "webhookId": "c511bc27-572b-4f0d-95fa-b1e2db6fbcad",
      "credentials": {
        "telegramApi": {
          "id": "Sjzzj8rExvqd1tes",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {},
        "path": "c678432f-cce8-45f9-bb70-bf8f5998a7ac"
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -480,
        200
      ],
      "id": "7d533bf5-d58e-4b3e-931e-1ef7f87b3746",
      "name": "Crear Chat",
      "webhookId": "c678432f-cce8-45f9-bb70-bf8f5998a7ac",
      "credentials": {
        "telegramApi": {
          "id": "Sjzzj8rExvqd1tes",
          "name": "Telegram account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "7839880794 chat telegram",
        "height": 220,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -540,
        160
      ],
      "id": "6903ff81-b4e2-4fc9-8ca3-b9337d7d93de",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "Crear Chat": [
      {
        "json": {
          "update_id": 315589294,
          "message": {
            "message_id": 40,
            "from": {
              "id": 6929772961,
              "is_bot": false,
              "first_name": "Andrés",
              "last_name": "Mora",
              "username": "Anlemoca",
              "language_code": "en"
            },
            "chat": {
              "id": 6929772961,
              "first_name": "Andrés",
              "last_name": "Mora",
              "username": "Anlemoca",
              "type": "private"
            },
            "date": 1747090949,
            "text": "Aquí"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-05-29T14:41:53.346Z",
      "createdAt": "2025-05-29T14:41:53.346Z",
      "role": "workflow:owner",
      "workflowId": "Zk4thUme0vtwQOl0",
      "projectId": "bMLPVLxvJNyYpOg4",
      "project": {
        "updatedAt": "2025-04-10T19:37:33.834Z",
        "createdAt": "2025-04-10T19:34:51.491Z",
        "id": "bMLPVLxvJNyYpOg4",
        "name": "andres mora <anlemoca.pm@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "1be52bcb-fd69-4000-ad4f-8a9b9553dae7",
        "projectRelations": [
          {
            "updatedAt": "2025-04-10T19:34:51.491Z",
            "createdAt": "2025-04-10T19:34:51.491Z",
            "userId": "1be52bcb-fd69-4000-ad4f-8a9b9553dae7",
            "projectId": "bMLPVLxvJNyYpOg4",
            "user": {
              "updatedAt": "2026-02-13T18:26:13.532Z",
              "createdAt": "2025-04-10T19:34:49.729Z",
              "id": "1be52bcb-fd69-4000-ad4f-8a9b9553dae7",
              "email": "anlemoca.pm@gmail.com",
              "firstName": "andres",
              "lastName": "mora",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-04-10T19:39:59.967Z",
                "personalization_survey_n8n_version": "1.86.1",
                "automationGoalDevops": [
                  "data-syncing",
                  "monitoring-alerting"
                ],
                "companySize": "<20",
                "companyType": "systems-integrator",
                "role": "it",
                "reportedSource": "friend"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "UvY47ZI6TkdR3EGX",
                "userActivatedAt": 1748458737814,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1764727678159
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-13",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-04-19T14:32:24.162Z",
      "createdAt": "2025-04-19T14:32:24.162Z",
      "id": "g3NaHHARog1Wx0jT",
      "name": "Comida con Menú"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-05-29T14:42:54.777Z",
  "versionCounter": 3,
  "versionId": "7cefea2b-b26a-4295-9113-f232a2bd7b5a"
}