Antifragil_CV_LinkedIn.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Summarization Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "Qualifications",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Summarization Chain",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "HR Expert",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Personal Data",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HR Expert": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Personal Data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Profile Wanted": {
      "main": [
        [
          {
            "node": "HR Expert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qualifications": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Qualifications",
            "type": "main",
            "index": 0
          },
          {
            "node": "Personal Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload CV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarization Chain": {
      "main": [
        [
          {
            "node": "Profile Wanted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "HR Expert",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-27T19:24:25.889Z",
  "description": null,
  "id": "DSj7vAdohvZS5KIO",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Antifragil_CV_LinkedIn",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Send CV",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "placeholder": "Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "Email",
              "requiredField": true
            },
            {
              "fieldLabel": "CV",
              "fieldType": "file",
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "3e632de2-1af8-444d-9fdf-7cf7be5eb1db",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        260,
        200
      ],
      "webhookId": "2a87705d-8ba1-41f1-80ef-85f364ce253e",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "CV",
        "options": {}
      },
      "id": "2a360f75-2da1-4c23-8105-0d71bcb2caae",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        620,
        200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "Educational qualification",
              "description": "Summary of your academic career. Focus on your high school and university studies. Summarize in 100 words maximum and also include your grade if applicable.",
              "required": true
            },
            {
              "name": "Job History",
              "description": "Work history summary. Focus on your most recent work experiences. Summarize in 100 words maximum",
              "required": true
            },
            {
              "name": "Skills",
              "description": "Extract the candidate’s key skills mentioned in the document, Make a bulleted list.",
              "required": true
            },
            {
              "name": "soft skills",
              "description": "Extract the candidate’s soft skills mentioned in the document, Make a bulleted list."
            },
            {
              "name": "Expertis",
              "description": "Extract in a maximum of 5 words the highest ranking and specialized professional position or title that summarizes the professional experience of the CV",
              "required": true
            },
            {
              "name": "Criterios",
              "description": "=Years of work history summary, Sectors/Industries, Years in executive positions (management/director level), Years in positions as General Manager/Partner/Founder, Years as a teacher, Years as an entrepreneur (partner or sole proprietor), Countries of experience, Antifragility Signs, Senior Profile & rating (1–10), Make a bulleted list."
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
        }
      },
      "id": "1e0dd806-5b83-45ef-aa9c-7ca0f6bfa9be",
      "name": "Qualifications",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "position": [
        920,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {
          "summarizationMethodAndPrompts": {
            "values": {
              "combineMapPrompt": "=Write a concise summary of the following:\n\nCiudad: {{ $json.output.ciudad }}\nCelular: {{ $json.output.celular }}\nEducational qualification: {{ $json.output[\"Educational qualification\"] }}\nJob History: {{ $json.output[\"Job History\"] }}\nSkills: {{ $json.output.Skills }}\n\nUse 100 words or less. Be concise and conversational.",
              "prompt": "=Write a concise summary of the following:\n\nCiudad: {{ $json.output.ciudad }}\nCelular: {{ $json.output.celular }}\nExpertis: {{ $json.output.Expertis }}\nSoft Skills: {{ $json.output['soft skills'] }}\nCriterios: {{ $json.output.Criterios }}\n\nUse 100 words or less. Be concise and conversational."
            }
          }
        }
      },
      "id": "51151d1c-dcf7-4750-bcef-254872e98f3e",
      "name": "Summarization Chain",
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "position": [
        1680,
        180
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "bc962de8-84d5-4037-854b-968b1133a503",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        1440,
        180
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a3d049b0-5a70-4e7b-a6f2-81447da5282a",
              "name": "profile_wanted",
              "type": "string",
              "value": "We are a web agency and we are looking for a full-stack web developer who knows how to use PHP, Python and Javascript. He has experience in the sector and lives in Northern Italy."
            }
          ]
        },
        "options": {}
      },
      "id": "9de56528-df86-46d9-9762-48710c9c0feb",
      "name": "Profile Wanted",
      "type": "n8n-nodes-base.set",
      "position": [
        2080,
        180
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"vote\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"consideration\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"
      },
      "id": "3a1e270f-f21b-4be7-93d8-114a791b76e7",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        2500,
        380
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Perfil buscado:\n{{ $json.profile_wanted }}\n\nCandidato:\n{{ $('Summarization Chain').item.json.response.text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Eres un experto en RRHH y necesitas entender si el candidato está alineado con el perfil que busca la empresa.\n\nSe debe dar una calificación del 1 al 10 donde 1 significa que el candidato no se ajusta a lo requerido mientras que 10 significa que es el candidato ideal porque refleja totalmente el perfil buscado.\n\nTambién en el campo “consideración” justifica por qué diste esa calificación."
            }
          ]
        }
      },
      "id": "cb46005a-371f-4a3c-9fb8-888da8eef988",
      "name": "HR Expert",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        2340,
        180
      ],
      "typeVersion": 1.5
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n        \"nombre\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"celular\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n      \"email\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n      \"linkedin\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n      \"ciudad\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}",
        "options": {
          "systemPromptTemplate": "=You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
        }
      },
      "id": "3ec9d436-2ac8-45c8-874f-ef10ff0d1731",
      "name": "Personal Data",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "position": [
        980,
        60
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "inputDataFieldName": "CV",
        "name": "=CV-{{ $now.format('yyyyLLdd') }}-{{ $json.CV[0].filename }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1pbKnaVQZZgteisR5dbE6cNO0I-AtDrTP",
          "mode": "list",
          "cachedResultName": "CV",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1pbKnaVQZZgteisR5dbE6cNO0I-AtDrTP"
        },
        "options": {}
      },
      "id": "ffd4bf8d-0dd3-4097-8bb4-7d9a52140c18",
      "name": "Upload CV",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        620,
        20
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "geWe6PPO0qCph66G",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "73136ebc-f2ab-4a4c-b0ae-433a6cc8a7b4",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1700,
        640
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "PaMg5kvlI4yLySmM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "The CV is uploaded to Google Drive and converted so that it can be processed\n",
        "height": 420,
        "width": 300
      },
      "id": "00d2f8ac-9aa7-4d34-b936-22fd4ca81dd8",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        540,
        -60
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "The essential information for evaluating the candidate is collected in two different chains",
        "height": 540,
        "width": 360
      },
      "id": "fe5833b0-4624-4ed9-9ad3-c4784161ee07",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        900,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Summary of relevant information useful for classifying the candidate",
        "height": 240,
        "width": 320
      },
      "id": "9fbbbad4-ca55-48c5-8452-f0680e82e910",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1640,
        100
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Characteristics of the profile sought by the company that intends to hire the candidate",
        "height": 240,
        "width": 220
      },
      "id": "60e725b8-23af-4e44-9c86-19804e301ea7",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2020,
        100
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Candidate evaluation with vote and considerations of the HR agent relating the profile sought with the candidate's skills",
        "height": 240,
        "width": 360
      },
      "id": "ed91d8ff-1be1-4401-b266-1b060e9cdc63",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2280,
        100
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "10CwCbo-aFQvTzdOMim5KzaN2AUFPSt6QBhSIrnPqTaQ",
          "mode": "list",
          "cachedResultName": "CV_Test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10CwCbo-aFQvTzdOMim5KzaN2AUFPSt6QBhSIrnPqTaQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10CwCbo-aFQvTzdOMim5KzaN2AUFPSt6QBhSIrnPqTaQ/edit#gid=0"
        },
        "columns": {
          "value": {
            "CITY": "={{ $('Merge').item.json.output.city }}",
            "DATA": "={{ $now.format('dd/LL/yyyy') }}",
            "NAME": "={{ $('On form submission').item.json.Nome }}",
            "VOTE": "={{ $json.output.vote }}",
            "EMAIL": "={{ $('On form submission').item.json.Email }}",
            "SKILLS": "={{ $('Merge').item.json.output.Skills }}",
            "TELEFONO": "={{ $('Merge').item.json.output.telephone }}",
            "SUMMARIZE": "={{ $('Summarization Chain').item.json.response.text }}",
            "EDUCATIONAL": "={{ $('Merge').item.json.output[\"Educational qualification\"] }}",
            "JOB HISTORY": "={{ $('Merge').item.json.output[\"Job History\"] }}",
            "DATA NASCITA": "={{ $('Merge').item.json.output.birthdate }}",
            "CONSIDERATION": "={{ $json.output.consideration }}"
          },
          "schema": [
            {
              "id": "DATA",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "DATA",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "NAME",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "NAME",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "PHONE",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "PHONE",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "CITY",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "CITY",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "EMAIL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "DATA NASCITA",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "DATA NASCITA",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "EDUCATIONAL",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "EDUCATIONAL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "JOB HISTORY",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "JOB HISTORY",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "SKILLS",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "SKILLS",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "SUMMARIZE",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "SUMMARIZE",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "VOTE",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "VOTE",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "CONSIDERATION",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "CONSIDERATION",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "caa625e1-1c06-4d52-997d-1fea2c07debd",
      "name": "Append row in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2740,
        180
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6zwnusv8Lhao2WiR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## HR Expert \nThis workflow automates the process of handling job applications by extracting relevant information from submitted CVs, analyzing the candidate's qualifications against a predefined profile, and storing the results in a Google Sheet",
        "width": 540,
        "color": 3
      },
      "id": "d68af8f2-2c58-4716-8a85-331e91090430",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        220,
        -280
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-06-27T19:24:25.889Z",
      "createdAt": "2025-06-27T19:24:25.889Z",
      "role": "workflow:owner",
      "workflowId": "DSj7vAdohvZS5KIO",
      "projectId": "bMLPVLxvJNyYpOg4",
      "project": {
        "updatedAt": "2025-04-10T19:37:33.834Z",
        "createdAt": "2025-04-10T19:34:51.491Z",
        "id": "bMLPVLxvJNyYpOg4",
        "name": "andres mora <anlemoca.pm@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "1be52bcb-fd69-4000-ad4f-8a9b9553dae7",
        "projectRelations": [
          {
            "updatedAt": "2025-04-10T19:34:51.491Z",
            "createdAt": "2025-04-10T19:34:51.491Z",
            "userId": "1be52bcb-fd69-4000-ad4f-8a9b9553dae7",
            "projectId": "bMLPVLxvJNyYpOg4",
            "user": {
              "updatedAt": "2026-02-13T18:26:13.532Z",
              "createdAt": "2025-04-10T19:34:49.729Z",
              "id": "1be52bcb-fd69-4000-ad4f-8a9b9553dae7",
              "email": "anlemoca.pm@gmail.com",
              "firstName": "andres",
              "lastName": "mora",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-04-10T19:39:59.967Z",
                "personalization_survey_n8n_version": "1.86.1",
                "automationGoalDevops": [
                  "data-syncing",
                  "monitoring-alerting"
                ],
                "companySize": "<20",
                "companyType": "systems-integrator",
                "role": "it",
                "reportedSource": "friend"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "UvY47ZI6TkdR3EGX",
                "userActivatedAt": 1748458737814,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1764727678159
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-13",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-01T19:19:11.637Z",
  "versionCounter": 1,
  "versionId": "464e8647-343f-4aa8-9fe3-0b3300441852"
}