n8n Curso.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Datastore (n8n training)": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Datastore (n8n training)1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Airtable2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Discord2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          },
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Discord1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable3": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File2": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Discord4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Airtable3",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-03T01:58:11.305Z",
  "description": null,
  "id": "RpL2NtUZYq9XwxGf",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "n8n Curso",
  "nodes": [
    {
      "parameters": {
        "resource": "all",
        "limit": 10,
        "additionalFields": {
          "keyword": "automation"
        }
      },
      "type": "n8n-nodes-base.hackerNews",
      "typeVersion": 1,
      "position": [
        -768,
        224
      ],
      "id": "f50d68b9-247f-41ab-a671-bfb43228e557",
      "name": "Hacker News",
      "notesInFlow": true,
      "notes": "Get the 10 latest articles."
    },
    {
      "parameters": {
        "url": "https://internal.users.n8n.cloud/webhook/custom-erp",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "unique_id",
              "value": "7783e7d3b756718f1fee9c9d2a84576d"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -768,
        400
      ],
      "id": "d7ce7116-bcaa-4249-9cb6-f471e03a5dfb",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "yrfx4DP2WKoshPvi",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "apphpDarDxNcUwEDV",
          "mode": "list",
          "cachedResultName": "Course n8n",
          "cachedResultUrl": "https://airtable.com/apphpDarDxNcUwEDV"
        },
        "table": {
          "__rl": true,
          "value": "tblHZAo5o6ftUWvNn",
          "mode": "list",
          "cachedResultName": "orders",
          "cachedResultUrl": "https://airtable.com/apphpDarDxNcUwEDV/tblHZAo5o6ftUWvNn"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "orderID",
              "displayName": "orderID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customerID",
              "displayName": "customerID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "employeeName",
              "displayName": "employeeName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "orderPrice",
              "displayName": "orderPrice",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "orderStatus",
              "displayName": "orderStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        128,
        288
      ],
      "id": "eaf36816-dfb5-4ea0-ad17-f164d861cd64",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "tGueKomem8j6jIKn",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "526cb30c-0f90-4f66-8f98-b64ceb2e52f2",
              "leftValue": "={{ $json.orderStatus }}",
              "rightValue": "processing",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "3add528c-769a-4e6f-a129-8222612aee59",
              "leftValue": "={{ $json.employeeName }}",
              "rightValue": "Mario",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -544,
        400
      ],
      "id": "b6dbbfef-8f60-4550-b4da-66ff85b3f9f4",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "20d37948-763a-4d7b-b725-e65f3802af03",
              "name": "orderID",
              "value": "={{ $json.orderID }}",
              "type": "number"
            },
            {
              "id": "9df108a7-6b13-42ab-a6dd-9ca582ba8b49",
              "name": "employeeName",
              "value": "={{ $json.employeeName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        288
      ],
      "id": "431929b2-4771-4f85-aec8-d35636c4b104",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "let items = $input.all();\nlet totalBooked = items.length;\nlet bookedSum = 0;\n\nfor (let i=0; i < items.length; i++) {\n  bookedSum = bookedSum + items[i].json.orderPrice;\n}\n\nreturn [{ json: {totalBooked, bookedSum} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        496
      ],
      "id": "ba6cc3f3-864c-4cbf-943a-fbf652cc61ea",
      "name": "Code"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=This week we've {{$json[\"totalBooked\"]}} booked orders with a total value of {{$json[\"bookedSum\"]}}. My Unique ID: {{ $('HTTP Request').params[\"headerParameters\"][\"parameters\"][0][\"value\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -96,
        496
      ],
      "id": "40dd6bac-a353-478f-8bb6-48106659ed98",
      "name": "Discord",
      "webhookId": "eff0b651-f0be-4cae-8f18-7d831385be3c",
      "credentials": {
        "discordWebhookApi": {
          "id": "I6LvOr5tMNxRzte5",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -976,
        400
      ],
      "id": "35bb6d3f-af0f-4eb7-af04-95df230ecbd9",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "let items = $input.all();\nlet totalBooked = items.length;\nlet bookedSum = 0;\n\nfor (let i=0; i < items.length; i++) {\n  bookedSum = bookedSum + items[i].json.orderPrice;\n}\n\nreturn [{ json: {totalBooked, bookedSum} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        288
      ],
      "id": "2450dc9b-550d-4a15-8777-0e2210ff5702",
      "name": "Code1"
    },
    {
      "parameters": {
        "jsCode": "var myContacts = [\n\t{\n\t\tjson: {\n\t\t\tname: 'Alice',\n\t\t\temail: {\n\t\t\t\tpersonal: 'alice@home.com',\n\t\t\t\twork: 'alice@wonderland.org'\n\t\t\t},\n\t\t}\n\t},\n\t{\n\t\tjson: {\n\t\t\tname: 'Bob',\n\t\t\temail: {\n\t\t\t\tpersonal: 'bob@mail.com',\n\t\t\t\twork: 'contact@thebuilder.com'\n\t\t\t\t},\n\t\t}\n\t},\n];\n\nreturn myContacts;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        704
      ],
      "id": "197f4379-d597-4146-a982-7802537c3f71",
      "name": "Code2"
    },
    {
      "parameters": {
        "jsCode": "let items = $input.all();\nitems[0].json.workEmail = items[0].json.email['work'];\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        704
      ],
      "id": "ed31dcd6-585d-45d3-8fc4-fde3a51888ff",
      "name": "Code3"
    },
    {
      "parameters": {
        "url": "https://pokeapi.co/api/v2/pokemon",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1424,
        720
      ],
      "id": "440258a2-1b31-460c-aab5-86a947223851",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1184,
        592
      ],
      "id": "e529bf33-c45a-40d7-9760-ebbcce2eb946",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "let items = $input.all();\nreturn items[0].json.results.map(item => {\n\treturn {\n\t\tjson: item\n\t}\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -992,
        720
      ],
      "id": "5ee2fa20-27b1-4f29-8f49-6d345fe51911",
      "name": "Code4"
    },
    {
      "parameters": {
        "url": "https://blog.n8n.io/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -176,
        704
      ],
      "id": "6a3b9aed-9761-4fae-b1a5-7152d29ecd1b",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "=title",
              "cssSelector": ".post .item-title a",
              "returnValue": "html"
            },
            {
              "key": "url",
              "cssSelector": ".post .item-title a",
              "returnValue": "attribute",
              "attribute": "href"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        48,
        704
      ],
      "id": "a7b84dc7-d200-4f01-a781-2433de56f246",
      "name": "HTML"
    },
    {
      "parameters": {
        "url": "https://pokeapi.co/api/v2/pokemon",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1328,
        928
      ],
      "id": "6ea95237-d813-404a-b90c-32688669bf60",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "mode": "jsonToxml",
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -1120,
        928
      ],
      "id": "bea25feb-9984-4e65-bcbe-d4e46877683b",
      "name": "XML"
    },
    {
      "parameters": {
        "operation": "getAllPeople",
        "returnAll": true
      },
      "type": "n8n-nodes-base.n8nTrainingCustomerDatastore",
      "typeVersion": 1,
      "position": [
        -752,
        928
      ],
      "id": "ee15e940-59c0-469a-9132-620dcd062e5c",
      "name": "Customer Datastore (n8n training)"
    },
    {
      "parameters": {
        "operation": "roundDate",
        "date": "={{ $json.created }}",
        "mode": "roundUp",
        "outputFieldName": "new-date",
        "options": {
          "includeInputFields": true
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -544,
        928
      ],
      "id": "28838a0e-de22-49dc-b290-a11510d89018",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "586a0f68-3a79-44ab-b25e-92247005983a",
              "leftValue": "={{ $json[\"new-date\"] }}",
              "rightValue": "1960-01-01T00:00:00",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -336,
        928
      ],
      "id": "b1ff0abd-44a2-41c2-a4da-dedf10d003e4",
      "name": "If1"
    },
    {
      "parameters": {
        "amount": 0.25,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -80,
        912
      ],
      "id": "ec13b0d8-c002-403c-a380-c02028f02855",
      "name": "Wait",
      "webhookId": "1658c102-5280-473e-82ea-07afe06dda90"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ff80f6ea-f57c-4103-9c7c-660b58fbafd0",
              "name": "outputValue",
              "value": "={{ $json[\"new-date\"] }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        912
      ],
      "id": "82639b0f-d4e7-4c63-8a81-3fcc145bb488",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "url": "https://media.kaspersky.com/pdf/Kaspersky_Lab_Whitepaper_Anti_blocker.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1488,
        1168
      ],
      "id": "d22d1f11-a853-4541-aa7b-4883333b47ac",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -1280,
        1168
      ],
      "id": "d8b2a370-e515-4389-9f3c-a0e480610607",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "id": "66f3c1c7-5de4-45d8-a992-53f9bb665a47",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1,
      "position": [
        -544,
        1168
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/tmp/poetrydb.json",
        "options": {}
      },
      "id": "031c164d-2efe-4da9-a997-d495c8e9c77a",
      "name": "Read/Write Files from Disk",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -336,
        1168
      ]
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.fileName }}",
        "options": {}
      },
      "id": "7d8bbe76-de05-4d73-bdcf-84cfee9ea0b3",
      "name": "Read/Write Files from Disk1",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -144,
        1168
      ]
    },
    {
      "parameters": {
        "url": "https://poetrydb.org/random/1",
        "options": {}
      },
      "id": "51bc0eda-5e5d-484a-aa13-d0ef6bd17e69",
      "name": "HTTP Request5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -752,
        1168
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "name",
              "field2": "name"
            }
          ]
        },
        "joinMode": "keepEverything",
        "options": {}
      },
      "id": "ebc0e818-5e9b-4a86-a6ea-2471947a2ed8",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -1296,
        1504
      ]
    },
    {
      "parameters": {
        "operation": "getAllPeople"
      },
      "id": "7c9838ec-76e3-46ab-a44d-e46fb09222d5",
      "name": "Customer Datastore (n8n training)1",
      "type": "n8n-nodes-base.n8nTrainingCustomerDatastore",
      "typeVersion": 1,
      "position": [
        -1520,
        1376
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    'name': 'Jay Gatsby',\n    'language': 'English',\n    'country': {\n      'code': 'US',\n      'name': 'United States'\n    }\n  },\n  {\n    'name': 'Rob Zombie',\n    'language': 'English',\n    'country': {\n      'code': 'US',\n      'name': 'United States'\n    }\n  }\n];"
      },
      "id": "e0169992-0981-4494-986b-88302eb4c452",
      "name": "Code5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1520,
        1648
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f24ef38e-d54f-415a-baa9-4c4596519f94",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -640,
        1440
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "id": "5c0003a1-77cd-4a5f-8c63-5c2063501c78",
      "name": "RSS Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -432,
        1552
      ]
    },
    {
      "parameters": {
        "jsCode": "let urls = [\n  {\n    json: {\n      url: 'https://medium.com/feed/n8n-io'\n    }\n  },\n  {\n   json: {\n     url: 'https://dev.to/feed/n8n'\n   } \n  }\n]\n\nreturn urls;"
      },
      "id": "d11f9761-4eac-469d-b00b-14f5363b9d18",
      "name": "Code6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        1440
      ]
    },
    {
      "parameters": {
        "url": "https://restcountries.com/v3.1/all",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "name,region,subregion"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "unique_id",
              "value": "7783e7d3b756718f1fee9c9d2a84576d"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        96,
        1648
      ],
      "id": "529c95b6-8f70-4bd8-ad17-80e6fcd9d6df",
      "name": "HTTP Request6",
      "credentials": {
        "httpHeaderAuth": {
          "id": "yrfx4DP2WKoshPvi",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "apphpDarDxNcUwEDV",
          "mode": "list",
          "cachedResultName": "Course n8n",
          "cachedResultUrl": "https://airtable.com/apphpDarDxNcUwEDV"
        },
        "table": {
          "__rl": true,
          "value": "tblUDjkXBHHwzP4dr",
          "mode": "list",
          "cachedResultName": "customers",
          "cachedResultUrl": "https://airtable.com/apphpDarDxNcUwEDV/tblUDjkXBHHwzP4dr"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        96,
        1408
      ],
      "id": "4aaa96ef-160e-413b-9ee8-0cee96edee1d",
      "name": "Airtable1",
      "credentials": {
        "airtableTokenApi": {
          "id": "tGueKomem8j6jIKn",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "customerCountry",
              "field2": "name.common"
            }
          ]
        },
        "options": {}
      },
      "id": "81807206-d249-446d-b5cf-cdab8f84b377",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        352,
        1504
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "apphpDarDxNcUwEDV",
          "mode": "list",
          "cachedResultName": "Course n8n",
          "cachedResultUrl": "https://airtable.com/apphpDarDxNcUwEDV"
        },
        "table": {
          "__rl": true,
          "value": "tblUDjkXBHHwzP4dr",
          "mode": "list",
          "cachedResultName": "customers",
          "cachedResultUrl": "https://airtable.com/apphpDarDxNcUwEDV/tblUDjkXBHHwzP4dr"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "region": "={{ $json.region }}",
            "subregion": "={{ $json.subregion }}",
            "customerID": "={{ $json.customerID }}"
          },
          "matchingColumns": [
            "customerID"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "customerID",
              "displayName": "customerID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customerCountry",
              "displayName": "customerCountry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "customerEmail",
              "displayName": "customerEmail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "customerSince",
              "displayName": "customerSince",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "region",
              "displayName": "region",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "subregion",
              "displayName": "subregion",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        592,
        1504
      ],
      "id": "15164e30-8fb9-4a57-b78f-03838b4918af",
      "name": "Airtable2",
      "credentials": {
        "airtableTokenApi": {
          "id": "tGueKomem8j6jIKn",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "info@serviorion.com",
        "subject": "=Your TPS Reports n8n {{ $binary.data.fileName }}",
        "emailType": "text",
        "message": "Please find your TPS report attached.",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "id": "a6b20979-cfba-4b90-97d1-9aad21970df3",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -432,
        1920
      ],
      "webhookId": "64db560b-492e-4c7a-9cc8-904bedea4e45",
      "credentials": {
        "gmailOAuth2": {
          "id": "ii4yblKUBbC8L9ZS",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "orderPrice",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "id": "4d65ad50-b366-4d92-9eda-10c46cc29d9b",
      "name": "Sort",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -1104,
        2032
      ]
    },
    {
      "parameters": {
        "options": {
          "fileName": "={{$runIndex > 0 ? 'file_low_orders':'file_high_orders'}}"
        }
      },
      "id": "e0106ec8-88ea-4283-a8d8-14668925c960",
      "name": "Convert to File1",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -224,
        2128
      ]
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=I created the spreadsheet {{ $binary.data.fileName }}. My ID: 7783e7d3b756718f1fee9c9d2a84576d",
        "options": {}
      },
      "id": "0868dd8d-1fb9-4a3a-b755-8fe6e375cb73",
      "name": "Discord1",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        0,
        2128
      ],
      "webhookId": "588a5007-a226-419a-a63f-7f6d36eed3b2",
      "credentials": {
        "discordWebhookApi": {
          "id": "xwWs6F8JeAXPUsaY",
          "name": "Discord Webhook account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "https://internal.users.n8n.cloud/webhook/level2-erp",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "unique_id",
              "value": "7783e7d3b756718f1fee9c9d2a84576d"
            }
          ]
        },
        "options": {}
      },
      "id": "f8b114a6-2768-447f-9be4-cb3e077f88e2",
      "name": "HTTP Request7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1536,
        1920
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "kJwmkiNzhDp0Uxwd",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "apphpDarDxNcUwEDV",
          "mode": "list",
          "cachedResultName": "Course n8n",
          "cachedResultUrl": "https://airtable.com/apphpDarDxNcUwEDV"
        },
        "table": {
          "__rl": true,
          "value": "tblUDjkXBHHwzP4dr",
          "mode": "list",
          "cachedResultName": "customers",
          "cachedResultUrl": "https://airtable.com/apphpDarDxNcUwEDV/tblUDjkXBHHwzP4dr"
        },
        "options": {}
      },
      "id": "e3b6b9d6-d486-4c73-b3fd-44ee723f2195",
      "name": "Airtable3",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        -1536,
        2128
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "tGueKomem8j6jIKn",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "customerID",
              "field2": "customerID"
            }
          ]
        },
        "options": {}
      },
      "id": "69ff8f8e-4505-4373-a540-10dbbfe3dd38",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -1312,
        2032
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "d3afe65c-7c80-4caa-9d1c-33c62fbc2197",
              "leftValue": "={{ $json.region }}",
              "rightValue": "Asia",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f1b122e1-5424-4f6f-8f5f-b8806935a866",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -880,
        1920
      ]
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "fileName": "=report_orderID_{{ $('If2').item.json.orderID }}.json"
        }
      },
      "id": "98d58d68-e68d-4df8-8cc1-c29f944df975",
      "name": "Convert to File2",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -656,
        1920
      ]
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=I sent the file {{ $node[\"Convert to File2\"].binary.data.fileName }} using email with the label ID {{ $json.id }}. My ID: 7783e7d3b756718f1fee9c9d2a84576d\n\n\n\n",
        "options": {}
      },
      "id": "15b698f0-6f63-472b-9960-6ae4bd1c4a28",
      "name": "Discord2",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -224,
        1920
      ],
      "webhookId": "dfe3626d-e964-4bc4-a705-d39668c74ffd",
      "credentials": {
        "discordWebhookApi": {
          "id": "xwWs6F8JeAXPUsaY",
          "name": "Discord Webhook account 2"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "id": "31d3b2f5-5994-4e61-9a3d-c07ac4869b6e",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -880,
        2128
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ce839b80-c50d-48f5-9a24-bb2df6fdd2ff",
              "name": "customerEmail",
              "value": "={{ $json.customerEmail }}",
              "type": "string"
            },
            {
              "id": "0c613366-3808-45a2-89cc-b34c7b9f3fb7",
              "name": "region",
              "value": "={{ $json.region }}",
              "type": "string"
            },
            {
              "id": "0f19a88c-deb0-4119-8965-06ed62a840b2",
              "name": "customerSince",
              "value": "={{ $json.customerSince }}",
              "type": "string"
            },
            {
              "id": "a7e890d6-86af-4839-b5df-d2a4efe923f7",
              "name": "orderPrice",
              "value": "={{ $json.orderPrice }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "56048f87-5503-49cd-a500-85616dbb1aa6",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -656,
        2128
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.customerSince }}",
        "options": {
          "includeInputFields": true
        }
      },
      "id": "19335691-9186-4868-8d5b-7e06bb745e95",
      "name": "Date & Time1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -432,
        2128
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -1456,
        2528
      ],
      "id": "236a9a16-959e-4798-b197-fb978a948285",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=The workflow {{ $json.workflow.name }} failed, with the error message: {{ $json.execution.error.message }}. Last node executed: {{ $json.execution.lastNodeExecuted }}. Check this workflow execution here: {{ $json.execution.url }}. My Unique ID: 7783e7d3b756718f1fee9c9d2a84576d now {{ $now }}",
        "options": {}
      },
      "id": "3e8cfb2f-19fe-4950-bb0e-c2b280cf6963",
      "name": "Discord3",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -304,
        2528
      ],
      "webhookId": "dfe3626d-e964-4bc4-a705-d39668c74ffd",
      "credentials": {
        "discordWebhookApi": {
          "id": "xwWs6F8JeAXPUsaY",
          "name": "Discord Webhook account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=The workflow {{ $json.workflow.name }} failed, with the error message: {{ $json.execution.error.message }}. Last node executed: {{ $json.execution.lastNodeExecuted }}. Check this workflow execution here: {{ $json.execution.url }}. My Unique ID: 7783e7d3b756718f1fee9c9d2a84576d now {{ $now }}",
        "options": {}
      },
      "id": "b2809993-aeb4-4586-a3a9-77f5a45d7b03",
      "name": "Discord4",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -1152,
        2528
      ],
      "webhookId": "588a5007-a226-419a-a63f-7f6d36eed3b2",
      "credentials": {
        "discordWebhookApi": {
          "id": "xwWs6F8JeAXPUsaY",
          "name": "Discord Webhook account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1792,
        2016
      ],
      "id": "0b628d99-1057-48e0-8433-2cc6a0944fb0",
      "name": "When clicking ‘Execute workflow’",
      "disabled": true
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-03T01:58:11.305Z",
      "createdAt": "2025-12-03T01:58:11.305Z",
      "role": "workflow:owner",
      "workflowId": "RpL2NtUZYq9XwxGf",
      "projectId": "bMLPVLxvJNyYpOg4",
      "project": {
        "updatedAt": "2025-04-10T19:37:33.834Z",
        "createdAt": "2025-04-10T19:34:51.491Z",
        "id": "bMLPVLxvJNyYpOg4",
        "name": "andres mora <anlemoca.pm@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "1be52bcb-fd69-4000-ad4f-8a9b9553dae7",
        "projectRelations": [
          {
            "updatedAt": "2025-04-10T19:34:51.491Z",
            "createdAt": "2025-04-10T19:34:51.491Z",
            "userId": "1be52bcb-fd69-4000-ad4f-8a9b9553dae7",
            "projectId": "bMLPVLxvJNyYpOg4",
            "user": {
              "updatedAt": "2026-02-13T18:26:13.532Z",
              "createdAt": "2025-04-10T19:34:49.729Z",
              "id": "1be52bcb-fd69-4000-ad4f-8a9b9553dae7",
              "email": "anlemoca.pm@gmail.com",
              "firstName": "andres",
              "lastName": "mora",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-04-10T19:39:59.967Z",
                "personalization_survey_n8n_version": "1.86.1",
                "automationGoalDevops": [
                  "data-syncing",
                  "monitoring-alerting"
                ],
                "companySize": "<20",
                "companyType": "systems-integrator",
                "role": "it",
                "reportedSource": "friend"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "UvY47ZI6TkdR3EGX",
                "userActivatedAt": 1748458737814,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1764727678159
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-13",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-15T20:00:13.782Z",
  "versionCounter": 53,
  "versionId": "ea6a1cf8-5e23-4da9-a370-4da7fbb49afb"
}